<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="category">
            <h2><span jhiTranslate="flexbaRmsWebApp.category.detail.title">Category</span> {{category.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="flexbaRmsWebApp.category.parentId">Parent Id</span></dt>
                <dd>
                    <span>{{category.parentId}}</span>
                </dd>
                <dt><span jhiTranslate="flexbaRmsWebApp.category.categoryClass">Category Class</span></dt>
                <dd>
                    <span>{{category.categoryClass}}</span>
                </dd>
                <dt><span jhiTranslate="flexbaRmsWebApp.category.categoryCode">Category Code</span></dt>
                <dd>
                    <span>{{category.categoryCode}}</span>
                </dd>
                <dt><span jhiTranslate="flexbaRmsWebApp.category.categoryName">Category Name</span></dt>
                <dd>
                    <span>{{category.categoryName}}</span>
                </dd>
                <dt><span jhiTranslate="flexbaRmsWebApp.category.description">Description</span></dt>
                <dd>
                    <span>{{category.description}}</span>
                </dd>
                <dt><span jhiTranslate="flexbaRmsWebApp.category.sortOrder">Sort Order</span></dt>
                <dd>
                    <span>{{category.sortOrder}}</span>
                </dd>
                <dt><span jhiTranslate="flexbaRmsWebApp.category.updateDate">Update Date</span></dt>
                <dd>
                    <span>{{category.updateDate}}</span>
                </dd>
                <dt><span jhiTranslate="flexbaRmsWebApp.category.deleteFlag">Delete Flag</span></dt>
                <dd>
                    <span>{{category.deleteFlag}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/category', category.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
