<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-category-heading" jhiTranslate="flexbaRmsWebApp.category.home.createOrEditLabel">Create or edit a Category</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!category.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="category.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="flexbaRmsWebApp.category.parentId" for="field_parentId">Parent Id</label>
                    <input type="number" class="form-control" name="parentId" id="field_parentId"
                        [(ngModel)]="category.parentId" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="flexbaRmsWebApp.category.categoryClass" for="field_categoryClass">Category Class</label>
                    <input type="text" class="form-control" name="categoryClass" id="field_categoryClass"
                        [(ngModel)]="category.categoryClass" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="flexbaRmsWebApp.category.categoryCode" for="field_categoryCode">Category Code</label>
                    <input type="text" class="form-control" name="categoryCode" id="field_categoryCode"
                        [(ngModel)]="category.categoryCode" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="flexbaRmsWebApp.category.categoryName" for="field_categoryName">Category Name</label>
                    <input type="text" class="form-control" name="categoryName" id="field_categoryName"
                        [(ngModel)]="category.categoryName" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="flexbaRmsWebApp.category.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                        [(ngModel)]="category.description" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="flexbaRmsWebApp.category.sortOrder" for="field_sortOrder">Sort Order</label>
                    <input type="number" class="form-control" name="sortOrder" id="field_sortOrder"
                        [(ngModel)]="category.sortOrder" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="flexbaRmsWebApp.category.updateDate" for="field_updateDate">Update Date</label>
                    <div class="d-flex">
                        <input id="field_updateDate" type="datetime-local" class="form-control" name="updateDate" [(ngModel)]="updateDate"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="flexbaRmsWebApp.category.deleteFlag" for="field_deleteFlag">Delete Flag</label>
                    <input type="number" class="form-control" name="deleteFlag" id="field_deleteFlag"
                        [(ngModel)]="category.deleteFlag" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
