<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="ratingQuestion">
            <h2><span jhiTranslate="flexbaRmsWebApp.ratingQuestion.detail.title">Rating Question</span> {{ratingQuestion.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="flexbaRmsWebApp.ratingQuestion.content">Content</span></dt>
                <dd>
                    <span>{{ratingQuestion.content}}</span>
                </dd>
                <dt><span jhiTranslate="flexbaRmsWebApp.ratingQuestion.type">Type</span></dt>
                <dd>
                    <span>{{ratingQuestion.type}}</span>
                </dd>
                <dt><span jhiTranslate="flexbaRmsWebApp.ratingQuestion.startNumStar">Start Num Star</span></dt>
                <dd>
                    <span>{{ratingQuestion.startNumStar}}</span>
                </dd>
                <dt><span jhiTranslate="flexbaRmsWebApp.ratingQuestion.endNumStar">End Num Star</span></dt>
                <dd>
                    <span>{{ratingQuestion.endNumStar}}</span>
                </dd>
                <dt><span jhiTranslate="flexbaRmsWebApp.ratingQuestion.createdDate">Created Date</span></dt>
                <dd>
                    <span>{{ratingQuestion.createdDate}}</span>
                </dd>
                <dt><span jhiTranslate="flexbaRmsWebApp.ratingQuestion.updatedDate">Updated Date</span></dt>
                <dd>
                    <span>{{ratingQuestion.updatedDate}}</span>
                </dd>
                <dt><span jhiTranslate="flexbaRmsWebApp.ratingQuestion.answerType">Answer Type</span></dt>
                <dd>
                    <span>{{ratingQuestion.answerType}}</span>
                </dd>
                <dt><span jhiTranslate="flexbaRmsWebApp.ratingQuestion.answerCategory">Answer Category</span></dt>
                <dd>
                    <span>{{ratingQuestion.answerCategory}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/rating-question', ratingQuestion.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
