<div>
    <h2 id="page-heading">
        <span jhiTranslate="flexbaRmsWebApp.ratingQuestion.home.title">Rating Questions</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-rating-question" [routerLink]="['/rating-question/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="flexbaRmsWebApp.ratingQuestion.home.createLabel">
            Create new Rating Question
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="ratingQuestions">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="content"><span jhiTranslate="flexbaRmsWebApp.ratingQuestion.content">Content</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="type"><span jhiTranslate="flexbaRmsWebApp.ratingQuestion.type">Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="startNumStar"><span jhiTranslate="flexbaRmsWebApp.ratingQuestion.startNumStar">Start Num Star</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="endNumStar"><span jhiTranslate="flexbaRmsWebApp.ratingQuestion.endNumStar">End Num Star</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createdDate"><span jhiTranslate="flexbaRmsWebApp.ratingQuestion.createdDate">Created Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="updatedDate"><span jhiTranslate="flexbaRmsWebApp.ratingQuestion.updatedDate">Updated Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="answerType"><span jhiTranslate="flexbaRmsWebApp.ratingQuestion.answerType">Answer Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="answerCategory"><span jhiTranslate="flexbaRmsWebApp.ratingQuestion.answerCategory">Answer Category</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let ratingQuestion of ratingQuestions ;trackBy: trackId">
                <td><a [routerLink]="['/rating-question', ratingQuestion.id, 'view' ]">{{ratingQuestion.id}}</a></td>
                <td>{{ratingQuestion.content}}</td>
                <td>{{ratingQuestion.typeName}}</td>
                <td>{{ratingQuestion.startNumStar}}</td>
                <td>{{ratingQuestion.endNumStar}}</td>
                <td>{{ratingQuestion.createdDate | date:'medium'}}</td>
                <td>{{ratingQuestion.updatedDate | date:'medium'}}</td>
                <td>{{ratingQuestion.answerTypeName}}</td>
                <td>{{ratingQuestion.answerCategory}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <!-- <button type="submit"
                                [routerLink]="['/rating-question', ratingQuestion.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button> -->
                        <button type="submit"
                                [routerLink]="['/rating-question', ratingQuestion.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'rating-question/'+ ratingQuestion.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="ratingQuestions && ratingQuestions.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
