<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-rating-question-heading" jhiTranslate="flexbaRmsWebApp.ratingQuestion.home.createOrEditLabel">Create
                or edit a Rating Question</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!ratingQuestion.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" [(ngModel)]="ratingQuestion.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="flexbaRmsWebApp.ratingQuestion.content" for="field_content">Content</label>
                    <input #contentInput="ngModel" required type="text" class="form-control" name="content" id="field_content" [(ngModel)]="ratingQuestion.content" />
                    <div *ngIf="contentInput.dirty && contentInput.invalid">
                        <small class="form-text text-danger" *ngIf="contentInput.errors.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div>
                </div>
                <!-- <div class="form-group">
                    <label class="form-control-label" jhiTranslate="flexbaRmsWebApp.ratingQuestion.type" for="field_type">Type</label>
                    <input type="number" class="form-control" name="type" id="field_type"
                        [(ngModel)]="ratingQuestion.type" />
                </div> -->

                <div class="form-group">
                    <label class="form-control-label" for="field_type">Type
                    </label>
                    <div>
                        <input #typeInput="ngModel" required type="number" class="form-control" name="type" id="field_type"
                            [(ngModel)]="ratingQuestion.type" />
                        <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
                            <button type="button" class="btn btn-outline-danger" ngbDropdownToggle>{{ratingQuestion.typeName}}</button>
                            <div class="dropdown-menu" ngbDropdownMenu>
                                <button (click)="selectType(type.typeCode)" *ngFor="let type of types; index as i; first as isFirst"
                                    type="button" class="dropdown-item">{{type.typeName}}</button>
                            </div>
                        </div>
                        <div *ngIf="typeInput.dirty && typeInput.invalid">
                            <small class="form-text text-danger" *ngIf="typeInput.errors.required" jhiTranslate="entity.validation.required">
                                This field is required.
                            </small>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="flexbaRmsWebApp.ratingQuestion.startNumStar" for="field_startNumStar">Start
                        Num Star</label>
                    <span style="color: red">(0 to 5)</span>
                    <input required #startNumStarInput="ngModel" pattern="[+-]?([0-9]*[.])?[0-9]+" type="number" class="form-control"
                        name="startNumStar" id="field_startNumStar" [(ngModel)]="ratingQuestion.startNumStar" />
                    <div *ngIf="startNumStarInput.dirty && startNumStarInput.invalid">
                        <small class="form-text text-danger" *ngIf="startNumStarInput.errors.pattern">
                            startNumStar must be number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="flexbaRmsWebApp.ratingQuestion.endNumStar" for="field_endNumStar">End
                        Num Start</span></label>
                    <span style="color: red">(0 to 5)</span>
                    <input required #endNumStarInput="ngModel" pattern="[+-]?([0-9]*[.])?[0-9]+" type="number" class="form-control" name="endNumStar" id="field_endNumStar" [(ngModel)]="ratingQuestion.endNumStar" />
                    <div *ngIf="endNumStarInput.dirty && endNumStarInput.invalid">
                        <small class="form-text text-danger" *ngIf="endNumStarInput.errors.pattern">
                            endNumStar must be number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="flexbaRmsWebApp.ratingQuestion.createdDate" for="field_createdDate">Created
                        Date</label>
                    <div class="d-flex">
                        <input #createdDateDp="ngbDatepicker" ngbDatepicker id="field_createdDate" type="text" class="form-control" name="createdDate"
                            [(ngModel)]="ratingQuestion.createdDate" />
                        <span class="input-group-append">
                                <button type="button" class="btn btn-secondary" (click)="createdDateDp.toggle()"><fa-icon
                                        [icon]="'calendar-alt'"></fa-icon></button>
                            </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="flexbaRmsWebApp.ratingQuestion.updatedDate" for="field_updatedDate">Updated
                        Date</label>
                    <div class="d-flex">
                        <input #updatedDateDp="ngbDatepicker" ngbDatepicker id="field_updatedDate" type="text" class="form-control" name="updatedDate"
                            [(ngModel)]="ratingQuestion.updatedDate" />
                            <span class="input-group-append">
                                <button type="button" class="btn btn-secondary" (click)="updatedDateDp.toggle()"><fa-icon
                                        [icon]="'calendar-alt'"></fa-icon></button>
                            </span>
                    </div>
                </div>
                <!-- <div class="form-group">
                    <label class="form-control-label" jhiTranslate="flexbaRmsWebApp.ratingQuestion.answerType" for="field_answerType">Answer
                        Type</label>
                    <input type="text" class="form-control" name="answerType" id="field_answerType" [(ngModel)]="ratingQuestion.answerType" />
                </div> -->

                <div class="form-group">
                    <label class="form-control-label" for="field_answerType">Answer Type
                    </label>
                    <div>
                        <input #answerTypeInput="ngModel" required type="number" class="form-control" name="answerType" id="field_answerType"
                            [(ngModel)]="ratingQuestion.answerType" />
                        <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
                            <button type="button" class="btn btn-outline-danger" ngbDropdownToggle>{{ratingQuestion.answerTypeName}}</button>
                            <div class="dropdown-menu" ngbDropdownMenu>
                                <button (click)="selectAnswerType(answerType.typeCode)" *ngFor="let answerType of answerTypes; index as i; first as isFirst"
                                    type="button" class="dropdown-item">{{answerType.typeName}}</button>
                            </div>
                        </div>
                        <div *ngIf="answerTypeInput.dirty && answerTypeInput.invalid">
                            <small class="form-text text-danger" *ngIf="answerTypeInput.errors.required" jhiTranslate="entity.validation.required">
                                This field is required.
                            </small>
                        </div>
                    </div>
                </div>

                <!-- <div class="form-group">
                    <label class="form-control-label" jhiTranslate="flexbaRmsWebApp.ratingQuestion.answerCategory" for="field_answerCategory">Answer
                        Category</label>
                    <input type="text" class="form-control" name="answerCategory" id="field_answerCategory" [(ngModel)]="ratingQuestion.answerCategory" />
                </div> -->

                <div class="form-group">
                    <label class="form-control-label" for="field_answerType">Answer Category
                    </label>
                    <div>
                        <input #answerCategoryInput="ngModel" required type="number" class="form-control" name="answerType" id="field_answerCategory"
                            [(ngModel)]="ratingQuestion.answerCategory" />
                        <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
                            <button type="button" class="btn btn-outline-danger" ngbDropdownToggle>{{ratingQuestion.answerCategoryName}}</button>
                            <div class="dropdown-menu" ngbDropdownMenu>
                                <button (click)="selectAnswerCategory(answerCategory.typeCode)" *ngFor="let answerCategory of answerCategories; index as i; first as isFirst"
                                    type="button" class="dropdown-item">{{answerCategory.typeName}}</button>
                            </div>
                        </div>
                        <div *ngIf="answerCategoryInput.dirty && answerCategoryInput.invalid">
                            <small class="form-text text-danger" *ngIf="answerCategoryInput.errors.required" jhiTranslate="entity.validation.required">
                                This field is required.
                            </small>
                        </div>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>