<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-voucher-gift-heading" jhiTranslate="flexbaRmsWebApp.voucherGift.home.createOrEditLabel">Create or edit a Voucher Gift</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!voucherGift.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="voucherGift.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="flexbaRmsWebApp.voucherGift.voucherGiftCode" for="field_voucherGiftCode">Voucher Gift Code</label>
                    <input type="text" class="form-control" name="voucherGiftCode" id="field_voucherGiftCode"
                        [(ngModel)]="voucherGift.voucherGiftCode" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="flexbaRmsWebApp.voucherGift.voucherGiftName" for="field_voucherGiftName">Voucher Gift Name</label>
                    <input type="text" class="form-control" name="voucherGiftName" id="field_voucherGiftName"
                        [(ngModel)]="voucherGift.voucherGiftName" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="flexbaRmsWebApp.voucherGift.voucherCategory" for="field_voucherCategory">Voucher Category</label>
                    <input type="number" class="form-control" name="voucherCategory" id="field_voucherCategory"
                        [(ngModel)]="voucherGift.voucherCategory" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="flexbaRmsWebApp.voucherGift.voucherType" for="field_voucherType">Voucher Type</label>
                    <input type="number" class="form-control" name="voucherType" id="field_voucherType"
                        [(ngModel)]="voucherGift.voucherType" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="flexbaRmsWebApp.voucherGift.customerCode" for="field_customerCode">Customer Code</label>
                    <input type="text" class="form-control" name="customerCode" id="field_customerCode"
                        [(ngModel)]="voucherGift.customerCode" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="flexbaRmsWebApp.voucherGift.customerName" for="field_customerName">Customer Name</label>
                    <input type="text" class="form-control" name="customerName" id="field_customerName"
                        [(ngModel)]="voucherGift.customerName" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="flexbaRmsWebApp.voucherGift.customerPhone" for="field_customerPhone">Customer Phone</label>
                    <input type="text" class="form-control" name="customerPhone" id="field_customerPhone"
                        [(ngModel)]="voucherGift.customerPhone" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="flexbaRmsWebApp.voucherGift.totalValue" for="field_totalValue">Total Value</label>
                    <input type="number" class="form-control" name="totalValue" id="field_totalValue"
                        [(ngModel)]="voucherGift.totalValue" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="flexbaRmsWebApp.voucherGift.availableValue" for="field_availableValue">Available Value</label>
                    <input type="number" class="form-control" name="availableValue" id="field_availableValue"
                        [(ngModel)]="voucherGift.availableValue" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="flexbaRmsWebApp.voucherGift.validFrom" for="field_validFrom">Valid From</label>
                    <div class="d-flex">
                        <input id="field_validFrom" type="datetime-local" class="form-control" name="validFrom" [(ngModel)]="validFrom"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="flexbaRmsWebApp.voucherGift.validTo" for="field_validTo">Valid To</label>
                    <div class="d-flex">
                        <input id="field_validTo" type="datetime-local" class="form-control" name="validTo" [(ngModel)]="validTo"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="flexbaRmsWebApp.voucherGift.status" for="field_status">Status</label>
                    <input type="number" class="form-control" name="status" id="field_status"
                        [(ngModel)]="voucherGift.status" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="flexbaRmsWebApp.voucherGift.refSku" for="field_refSku">Ref Sku</label>
                    <input type="text" class="form-control" name="refSku" id="field_refSku"
                        [(ngModel)]="voucherGift.refSku" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="flexbaRmsWebApp.voucherGift.storeCode" for="field_storeCode">Store Code</label>
                    <input type="text" class="form-control" name="storeCode" id="field_storeCode"
                        [(ngModel)]="voucherGift.storeCode" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="flexbaRmsWebApp.voucherGift.note" for="field_note">Note</label>
                    <input type="text" class="form-control" name="note" id="field_note"
                        [(ngModel)]="voucherGift.note" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="flexbaRmsWebApp.voucherGift.createdBy" for="field_createdBy">Created By</label>
                    <input type="text" class="form-control" name="createdBy" id="field_createdBy"
                        [(ngModel)]="voucherGift.createdBy" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="flexbaRmsWebApp.voucherGift.expiredDuration" for="field_expiredDuration">Expired Duration</label>
                    <input type="number" class="form-control" name="expiredDuration" id="field_expiredDuration"
                        [(ngModel)]="voucherGift.expiredDuration" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="flexbaRmsWebApp.voucherGift.effectedDay" for="field_effectedDay">Effected Day</label>
                    <input type="number" class="form-control" name="effectedDay" id="field_effectedDay"
                        [(ngModel)]="voucherGift.effectedDay" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="flexbaRmsWebApp.voucherGift.voucherValue" for="field_voucherValue">Voucher Value</label>
                    <input type="number" class="form-control" name="voucherValue" id="field_voucherValue"
                        [(ngModel)]="voucherGift.voucherValue" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="flexbaRmsWebApp.voucherGift.usedCustomerCode" for="field_usedCustomerCode">Used Customer Code</label>
                    <input type="text" class="form-control" name="usedCustomerCode" id="field_usedCustomerCode"
                        [(ngModel)]="voucherGift.usedCustomerCode" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="flexbaRmsWebApp.voucherGift.usedCustomerName" for="field_usedCustomerName">Used Customer Name</label>
                    <input type="text" class="form-control" name="usedCustomerName" id="field_usedCustomerName"
                        [(ngModel)]="voucherGift.usedCustomerName" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="flexbaRmsWebApp.voucherGift.usedCustomerPhone" for="field_usedCustomerPhone">Used Customer Phone</label>
                    <input type="text" class="form-control" name="usedCustomerPhone" id="field_usedCustomerPhone"
                        [(ngModel)]="voucherGift.usedCustomerPhone" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="flexbaRmsWebApp.voucherGift.updateFlag" for="field_updateFlag">Update Flag</label>
                    <input type="checkbox" class="form-control" name="updateFlag" id="field_updateFlag"
                        [(ngModel)]="voucherGift.updateFlag" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="flexbaRmsWebApp.voucherGift.maxAppliedAmount" for="field_maxAppliedAmount">Max Applied Amount</label>
                    <input type="number" class="form-control" name="maxAppliedAmount" id="field_maxAppliedAmount"
                        [(ngModel)]="voucherGift.maxAppliedAmount" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="flexbaRmsWebApp.voucherGift.max_appliedTimePerCustomer" for="field_max_appliedTimePerCustomer">Max Applied Time Per Customer</label>
                    <input type="number" class="form-control" name="max_appliedTimePerCustomer" id="field_max_appliedTimePerCustomer"
                        [(ngModel)]="voucherGift.max_appliedTimePerCustomer" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="flexbaRmsWebApp.voucherGift.voucherAppliedType" for="field_voucherAppliedType">Voucher Applied Type</label>
                    <input type="number" class="form-control" name="voucherAppliedType" id="field_voucherAppliedType"
                        [(ngModel)]="voucherGift.voucherAppliedType" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="flexbaRmsWebApp.voucherGift.updateDate" for="field_updateDate">Update Date</label>
                    <div class="d-flex">
                        <input id="field_updateDate" type="datetime-local" class="form-control" name="updateDate" [(ngModel)]="updateDate"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="flexbaRmsWebApp.voucherGift.deleteFlag" for="field_deleteFlag">Delete Flag</label>
                    <input type="checkbox" class="form-control" name="deleteFlag" id="field_deleteFlag"
                        [(ngModel)]="voucherGift.deleteFlag" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="flexbaRmsWebApp.voucherGift.personalId" for="field_personalId">Personal Id</label>
                    <input type="text" class="form-control" name="personalId" id="field_personalId"
                        [(ngModel)]="voucherGift.personalId" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="flexbaRmsWebApp.voucherGift.voucherGiftId" for="field_voucherGiftId">Voucher Gift Id</label>
                    <input type="number" class="form-control" name="voucherGiftId" id="field_voucherGiftId"
                        [(ngModel)]="voucherGift.voucherGiftId" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
