<div>
    <h2 id="page-heading">
        <span jhiTranslate="flexbaRmsWebApp.voucherGift.home.title">Voucher Gifts</span>
        <!-- <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-voucher-gift" [routerLink]="['/voucher-gift/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="flexbaRmsWebApp.voucherGift.home.createLabel">
            Create new Voucher Gift
            </span>
        </button> -->
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="voucherGifts">
        <form id="promotionSearchForm">
            <div class="form-group">
                <label for="name">Coupon Code</label>
                <input type="text" class="form-control" id="refSku" [(ngModel)]="searchObject.refSku"
                    [ngModelOptions]="{standalone: true}">
                <label>Status</label>
                <select class="form-control" id="status" name="status" [(ngModel)]="searchObject.status">
                    <option *ngFor="let status of statuses" [ngValue]="status.value">{{status.name}}</option>
                </select>
                <label for="name">Customer Code</label>
                <input type="text" class="form-control" id="customerCode" [(ngModel)]="searchObject.customerCode"
                    [ngModelOptions]="{standalone: true}">
                <label>Status</label>
            </div>
            <button type="submit" class="btn btn-success" (click)="onSearch()">Search</button>
        </form>
        <br>
        <div *ngIf="voucherGifts && voucherGifts.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
        <table class="table table-striped" style="font-size: 70%;">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="voucherGiftCode"><span jhiTranslate="flexbaRmsWebApp.voucherGift.voucherGiftCode">Voucher Gift Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="voucherGiftName"><span jhiTranslate="flexbaRmsWebApp.voucherGift.voucherGiftName">Voucher Gift Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <!-- <th jhiSortBy="voucherCategory"><span jhiTranslate="flexbaRmsWebApp.voucherGift.voucherCategory">Voucher Category</span> <fa-icon [icon]="'sort'"></fa-icon></th> -->
            <!-- <th jhiSortBy="voucherType"><span jhiTranslate="flexbaRmsWebApp.voucherGift.voucherType">Voucher Type</span> <fa-icon [icon]="'sort'"></fa-icon></th> -->
            <th jhiSortBy="customerCode"><span jhiTranslate="flexbaRmsWebApp.voucherGift.customerCode">Customer Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="customerName"><span jhiTranslate="flexbaRmsWebApp.voucherGift.customerName">Customer Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="customerPhone"><span jhiTranslate="flexbaRmsWebApp.voucherGift.customerPhone">Customer Phone</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="totalValue"><span jhiTranslate="flexbaRmsWebApp.voucherGift.totalValue">Total Value</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="availableValue"><span jhiTranslate="flexbaRmsWebApp.voucherGift.availableValue">Available Value</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="validFrom"><span jhiTranslate="flexbaRmsWebApp.voucherGift.validFrom">Valid From</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="validTo"><span jhiTranslate="flexbaRmsWebApp.voucherGift.validTo">Valid To</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="status"><span jhiTranslate="flexbaRmsWebApp.voucherGift.status">Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="refSku"><span jhiTranslate="flexbaRmsWebApp.voucherGift.refSku">Ref Sku</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="storeCode"><span jhiTranslate="flexbaRmsWebApp.voucherGift.storeCode">Store Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="note"><span jhiTranslate="flexbaRmsWebApp.voucherGift.note">Note</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createdBy"><span jhiTranslate="flexbaRmsWebApp.voucherGift.createdBy">Created By</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <!-- <th jhiSortBy="expiredDuration"><span jhiTranslate="flexbaRmsWebApp.voucherGift.expiredDuration">Expired Duration</span> <fa-icon [icon]="'sort'"></fa-icon></th> -->
            <!-- <th jhiSortBy="effectedDay"><span jhiTranslate="flexbaRmsWebApp.voucherGift.effectedDay">Effected Day</span> <fa-icon [icon]="'sort'"></fa-icon></th> -->
            <!-- <th jhiSortBy="voucherValue"><span jhiTranslate="flexbaRmsWebApp.voucherGift.voucherValue">Voucher Value</span> <fa-icon [icon]="'sort'"></fa-icon></th> -->
            <th jhiSortBy="usedCustomerCode"><span jhiTranslate="flexbaRmsWebApp.voucherGift.usedCustomerCode">Used Customer Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="usedCustomerName"><span jhiTranslate="flexbaRmsWebApp.voucherGift.usedCustomerName">Used Customer Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="usedCustomerPhone"><span jhiTranslate="flexbaRmsWebApp.voucherGift.usedCustomerPhone">Used Customer Phone</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <!-- <th jhiSortBy="updateFlag"><span jhiTranslate="flexbaRmsWebApp.voucherGift.updateFlag">Update Flag</span> <fa-icon [icon]="'sort'"></fa-icon></th> -->
            <!-- <th jhiSortBy="maxAppliedAmount"><span jhiTranslate="flexbaRmsWebApp.voucherGift.maxAppliedAmount">Max Applied Amount</span> <fa-icon [icon]="'sort'"></fa-icon></th> -->
            <!-- <th jhiSortBy="max_appliedTimePerCustomer"><span jhiTranslate="flexbaRmsWebApp.voucherGift.max_appliedTimePerCustomer">Max Applied Time Per Customer</span> <fa-icon [icon]="'sort'"></fa-icon></th> -->
            <!-- <th jhiSortBy="voucherAppliedType"><span jhiTranslate="flexbaRmsWebApp.voucherGift.voucherAppliedType">Voucher Applied Type</span> <fa-icon [icon]="'sort'"></fa-icon></th> -->
            <th jhiSortBy="updateDate"><span jhiTranslate="flexbaRmsWebApp.voucherGift.updateDate">Update Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="deleteFlag"><span jhiTranslate="flexbaRmsWebApp.voucherGift.deleteFlag">Delete Flag</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="personalId"><span jhiTranslate="flexbaRmsWebApp.voucherGift.personalId">Personal Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <!-- <th jhiSortBy="voucherGiftId"><span jhiTranslate="flexbaRmsWebApp.voucherGift.voucherGiftId">Voucher Gift Id</span> <fa-icon [icon]="'sort'"></fa-icon></th> -->
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let voucherGift of voucherGifts ;trackBy: trackId">
                <td><a [routerLink]="['/voucher-gift', voucherGift.id, 'view' ]">{{voucherGift.id}}</a></td>
                <td>{{voucherGift.voucherGiftCode}}</td>
                <td>{{voucherGift.voucherGiftName}}</td>
                <!-- <td>{{voucherGift.voucherCategory}}</td>
                <td>{{voucherGift.voucherType}}</td> -->
                <td>{{voucherGift.customerCode}}</td>
                <td>{{voucherGift.customerName}}</td>
                <td>{{voucherGift.customerPhone}}</td>
                <td>{{voucherGift.totalValue}}</td>
                <td>{{voucherGift.availableValue}}</td>
                <td>{{voucherGift.validFrom | date:'medium'}}</td>
                <td>{{voucherGift.validTo | date:'medium'}}</td>
                <td>{{voucherGift.status}}</td>
                <td>{{voucherGift.refSku}}</td>
                <td>{{voucherGift.storeCode}}</td>
                <td>{{voucherGift.note}}</td>
                <td>{{voucherGift.createdBy}}</td>
                <!-- <td>{{voucherGift.expiredDuration}}</td> -->
                <!-- <td>{{voucherGift.effectedDay}}</td> -->
                <!-- <td>{{voucherGift.voucherValue}}</td> -->
                <td>{{voucherGift.usedCustomerCode}}</td>
                <td>{{voucherGift.usedCustomerName}}</td>
                <td>{{voucherGift.usedCustomerPhone}}</td>
                <!-- <td>{{voucherGift.updateFlag}}</td>
                <td>{{voucherGift.maxAppliedAmount}}</td>
                <td>{{voucherGift.max_appliedTimePerCustomer}}</td>
                <td>{{voucherGift.voucherAppliedType}}</td> -->
                <td>{{voucherGift.updateDate | date:'medium'}}</td>
                <td>{{voucherGift.deleteFlag}}</td>
                <td>{{voucherGift.personalId}}</td>
                <!-- <td>{{voucherGift.voucherGiftId}}</td> -->
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/voucher-gift', voucherGift.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <!-- <button type="submit"
                                [routerLink]="['/voucher-gift', voucherGift.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'voucher-gift/'+ voucherGift.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button> -->
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    
</div>
