<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="voucherGift">
            <h2><span jhiTranslate="flexbaRmsWebApp.voucherGift.detail.title">Voucher Gift</span> {{voucherGift.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="flexbaRmsWebApp.voucherGift.voucherGiftCode">Voucher Gift Code</span></dt>
                <dd>
                    <span>{{voucherGift.voucherGiftCode}}</span>
                </dd>
                <dt><span jhiTranslate="flexbaRmsWebApp.voucherGift.voucherGiftName">Voucher Gift Name</span></dt>
                <dd>
                    <span>{{voucherGift.voucherGiftName}}</span>
                </dd>
                <dt><span jhiTranslate="flexbaRmsWebApp.voucherGift.voucherCategory">Voucher Category</span></dt>
                <dd>
                    <span>{{voucherGift.voucherCategory}}</span>
                </dd>
                <dt><span jhiTranslate="flexbaRmsWebApp.voucherGift.voucherType">Voucher Type</span></dt>
                <dd>
                    <span>{{voucherGift.voucherType}}</span>
                </dd>
                <dt><span jhiTranslate="flexbaRmsWebApp.voucherGift.customerCode">Customer Code</span></dt>
                <dd>
                    <span>{{voucherGift.customerCode}}</span>
                </dd>
                <dt><span jhiTranslate="flexbaRmsWebApp.voucherGift.customerName">Customer Name</span></dt>
                <dd>
                    <span>{{voucherGift.customerName}}</span>
                </dd>
                <dt><span jhiTranslate="flexbaRmsWebApp.voucherGift.customerPhone">Customer Phone</span></dt>
                <dd>
                    <span>{{voucherGift.customerPhone}}</span>
                </dd>
                <dt><span jhiTranslate="flexbaRmsWebApp.voucherGift.totalValue">Total Value</span></dt>
                <dd>
                    <span>{{voucherGift.totalValue}}</span>
                </dd>
                <dt><span jhiTranslate="flexbaRmsWebApp.voucherGift.availableValue">Available Value</span></dt>
                <dd>
                    <span>{{voucherGift.availableValue}}</span>
                </dd>
                <dt><span jhiTranslate="flexbaRmsWebApp.voucherGift.validFrom">Valid From</span></dt>
                <dd>
                    <span>{{voucherGift.validFrom}}</span>
                </dd>
                <dt><span jhiTranslate="flexbaRmsWebApp.voucherGift.validTo">Valid To</span></dt>
                <dd>
                    <span>{{voucherGift.validTo}}</span>
                </dd>
                <dt><span jhiTranslate="flexbaRmsWebApp.voucherGift.status">Status</span></dt>
                <dd>
                    <span>{{voucherGift.status}}</span>
                </dd>
                <dt><span jhiTranslate="flexbaRmsWebApp.voucherGift.refSku">Ref Sku</span></dt>
                <dd>
                    <span>{{voucherGift.refSku}}</span>
                </dd>
                <dt><span jhiTranslate="flexbaRmsWebApp.voucherGift.storeCode">Store Code</span></dt>
                <dd>
                    <span>{{voucherGift.storeCode}}</span>
                </dd>
                <dt><span jhiTranslate="flexbaRmsWebApp.voucherGift.note">Note</span></dt>
                <dd>
                    <span>{{voucherGift.note}}</span>
                </dd>
                <dt><span jhiTranslate="flexbaRmsWebApp.voucherGift.createdBy">Created By</span></dt>
                <dd>
                    <span>{{voucherGift.createdBy}}</span>
                </dd>
                <dt><span jhiTranslate="flexbaRmsWebApp.voucherGift.expiredDuration">Expired Duration</span></dt>
                <dd>
                    <span>{{voucherGift.expiredDuration}}</span>
                </dd>
                <dt><span jhiTranslate="flexbaRmsWebApp.voucherGift.effectedDay">Effected Day</span></dt>
                <dd>
                    <span>{{voucherGift.effectedDay}}</span>
                </dd>
                <dt><span jhiTranslate="flexbaRmsWebApp.voucherGift.voucherValue">Voucher Value</span></dt>
                <dd>
                    <span>{{voucherGift.voucherValue}}</span>
                </dd>
                <dt><span jhiTranslate="flexbaRmsWebApp.voucherGift.usedCustomerCode">Used Customer Code</span></dt>
                <dd>
                    <span>{{voucherGift.usedCustomerCode}}</span>
                </dd>
                <dt><span jhiTranslate="flexbaRmsWebApp.voucherGift.usedCustomerName">Used Customer Name</span></dt>
                <dd>
                    <span>{{voucherGift.usedCustomerName}}</span>
                </dd>
                <dt><span jhiTranslate="flexbaRmsWebApp.voucherGift.usedCustomerPhone">Used Customer Phone</span></dt>
                <dd>
                    <span>{{voucherGift.usedCustomerPhone}}</span>
                </dd>
                <dt><span jhiTranslate="flexbaRmsWebApp.voucherGift.updateFlag">Update Flag</span></dt>
                <dd>
                    <span>{{voucherGift.updateFlag}}</span>
                </dd>
                <dt><span jhiTranslate="flexbaRmsWebApp.voucherGift.maxAppliedAmount">Max Applied Amount</span></dt>
                <dd>
                    <span>{{voucherGift.maxAppliedAmount}}</span>
                </dd>
                <dt><span jhiTranslate="flexbaRmsWebApp.voucherGift.max_appliedTimePerCustomer">Max Applied Time Per Customer</span></dt>
                <dd>
                    <span>{{voucherGift.max_appliedTimePerCustomer}}</span>
                </dd>
                <dt><span jhiTranslate="flexbaRmsWebApp.voucherGift.voucherAppliedType">Voucher Applied Type</span></dt>
                <dd>
                    <span>{{voucherGift.voucherAppliedType}}</span>
                </dd>
                <dt><span jhiTranslate="flexbaRmsWebApp.voucherGift.updateDate">Update Date</span></dt>
                <dd>
                    <span>{{voucherGift.updateDate}}</span>
                </dd>
                <dt><span jhiTranslate="flexbaRmsWebApp.voucherGift.deleteFlag">Delete Flag</span></dt>
                <dd>
                    <span>{{voucherGift.deleteFlag}}</span>
                </dd>
                <dt><span jhiTranslate="flexbaRmsWebApp.voucherGift.personalId">Personal Id</span></dt>
                <dd>
                    <span>{{voucherGift.personalId}}</span>
                </dd>
                <dt><span jhiTranslate="flexbaRmsWebApp.voucherGift.voucherGiftId">Voucher Gift Id</span></dt>
                <dd>
                    <span>{{voucherGift.voucherGiftId}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/voucher-gift', voucherGift.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
