<div>
    <h2 id="page-heading">
        <span jhiTranslate="flexbaRmsWebApp.promotion.home.title">Promotions</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-promotion"
            [routerLink]="['/promotion/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span jhiTranslate="flexbaRmsWebApp.promotion.home.createLabel">
                Create new Promotion
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br />

    <div class="table-responsive" *ngIf="promotions">
        <form id="promotionSearchForm">
            <div class="form-group">
                <label for="name">Coupon Code</label>
                <input type="text" class="form-control" id="couponCode" [(ngModel)]="searchObject.couponCode"
                    [ngModelOptions]="{standalone: true}">
            </div>
            <button type="submit" class="btn btn-success" (click)="onSearch()">Search</button>
        </form>
        <div *ngIf="promotions && promotions.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5"
                    [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
        <table class="table table-striped list-promotion">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                    <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="saleId"><span jhiTranslate="global.field.saleId">ID</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="couponCode"><span jhiTranslate="flexbaRmsWebApp.promotion.couponCode">Coupon Code</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="promotionName"><span jhiTranslate="flexbaRmsWebApp.promotion.promotionName">Promotion
                            Name</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th><span jhiTranslate="flexbaRmsWebApp.promotion.description">Description</span></th>
                    <!-- <th ><span jhiTranslate="flexbaRmsWebApp.promotion.htmlDescription">Html Description</span></th> -->
                    <th jhiSortBy="startDate"><span jhiTranslate="flexbaRmsWebApp.promotion.startDate">Start Date</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="endDate"><span jhiTranslate="flexbaRmsWebApp.promotion.endDate">End Date</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="status"><span jhiTranslate="flexbaRmsWebApp.promotion.status">Status</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="sortOrder"><span jhiTranslate="flexbaRmsWebApp.promotion.sortOrder">Sort Order</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <!-- <th jhiSortBy="stopNextRule"><span jhiTranslate="flexbaRmsWebApp.promotion.stopNextRule">Stop Next Rule</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="sortOrder"><span jhiTranslate="flexbaRmsWebApp.promotion.sortOrder">Sort Order</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="useOrgPriceFlag"><span jhiTranslate="flexbaRmsWebApp.promotion.useOrgPriceFlag">Use Org Price Flag</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="appliedOn"><span jhiTranslate="flexbaRmsWebApp.promotion.appliedOn">Applied On</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="ruleData"><span jhiTranslate="flexbaRmsWebApp.promotion.ruleData">Rule Data</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="droolsRule"><span jhiTranslate="flexbaRmsWebApp.promotion.droolsRule">Drools Rule</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="allocationData"><span jhiTranslate="flexbaRmsWebApp.promotion.allocationData">Allocation Data</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="version"><span jhiTranslate="flexbaRmsWebApp.promotion.version">Version</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="runMode"><span jhiTranslate="flexbaRmsWebApp.promotion.runMode">Run Mode</span> <fa-icon [icon]="'sort'"></fa-icon></th> -->
                    <!-- <th jhiSortBy="onStore"><span jhiTranslate="flexbaRmsWebApp.promotion.onStore">On Store</span> <fa-icon [icon]="'sort'"></fa-icon></th> -->
                    <th jhiSortBy="promotionType"><span jhiTranslate="flexbaRmsWebApp.promotion.promotionType">Promotion
                            Type</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <!-- <th jhiSortBy="autoFlag"><span jhiTranslate="flexbaRmsWebApp.promotion.autoFlag">Auto Flag</span> <fa-icon [icon]="'sort'"></fa-icon></th> -->
                    <!-- <th jhiSortBy="updateDate"><span jhiTranslate="flexbaRmsWebApp.promotion.updateDate">Update Date</span> <fa-icon [icon]="'sort'"></fa-icon></th> -->
                    <!-- <th jhiSortBy="deleteFlag"><span jhiTranslate="flexbaRmsWebApp.promotion.deleteFlag">Delete Flag</span> <fa-icon [icon]="'sort'"></fa-icon></th> -->
                    <!-- <th jhiSortBy="channel"><span jhiTranslate="flexbaRmsWebApp.promotion.channel">Channel</span> <fa-icon [icon]="'sort'"></fa-icon></th> -->
                    <!-- <th jhiSortBy="jsCondition"><span jhiTranslate="flexbaRmsWebApp.promotion.jsCondition">Js Condition</span> <fa-icon [icon]="'sort'"></fa-icon></th> -->
                    <!-- <th jhiSortBy="jsBonus"><span jhiTranslate="flexbaRmsWebApp.promotion.jsBonus">Js Bonus</span> <fa-icon [icon]="'sort'"></fa-icon></th> -->
                    <th jhiSortBy="redeemFlag"><span jhiTranslate="flexbaRmsWebApp.promotion.redeemFlag">Redeem Flag</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <!-- <th jhiSortBy="imagePath"><span jhiTranslate="flexbaRmsWebApp.promotion.imagePath">Image Path</span> <fa-icon [icon]="'sort'"></fa-icon></th> -->
                    <!-- <th jhiSortBy="imagePath2"><span jhiTranslate="flexbaRmsWebApp.promotion.imagePath2">Image Path 2</span> <fa-icon [icon]="'sort'"></fa-icon></th> -->
                    <th jhiSortBy="redeemPoints"><span jhiTranslate="flexbaRmsWebApp.promotion.redeemPoints">Redeem
                            Points</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th><span jhiTranslate="flexbaRmsWebApp.promotion.imageBlob1">Image Blob 1</span></th>
                    <th><span jhiTranslate="flexbaRmsWebApp.promotion.imageBlob2">Image Blob 2</span></th>
                    <th jhiSortBy="publishStartDate"><span jhiTranslate="flexbaRmsWebApp.promotion.publishStartDate">Publish
                            Start Date</span></th>
                    <th jhiSortBy="publishEndDate"><span jhiTranslate="flexbaRmsWebApp.promotion.publishEndDate">Publish
                            End Date</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let promotion of promotions ;trackBy: trackId">
                    <td><a [routerLink]="['/promotion', promotion.id, 'view' ]">{{promotion.id}}</a></td>
                    <td>{{promotion.saleId}}</td>
                    <td>{{promotion.couponCode}}</td>
                    <td>{{promotion.promotionName}}</td>
                    <td>{{promotion.description}}</td>
                    <!-- <td>
                    <div class="htmlDescription" [froalaEditor]="options" [(froalaModel)]="promotion.htmlDescription"></div>
                </td> -->
                    <td>{{promotion.startDate | date:'mediumDate'}}</td>
                    <td>{{promotion.endDate | date:'mediumDate'}}</td>
                    <td>{{promotion.status}}</td>
                    <td>{{promotion.sortOrder}}</td>
                    <!-- <td>{{promotion.stopNextRule}}</td>
                
                <td>{{promotion.useOrgPriceFlag}}</td>
                <td>{{promotion.appliedOn}}</td>
                <td>{{promotion.ruleData}}</td>
                <td>{{promotion.droolsRule}}</td>
                <td>{{promotion.allocationData}}</td>
                <td>{{promotion.version}}</td>
                <td>{{promotion.runMode}}</td> -->
                    <!-- <td>{{promotion.onStore}}</td> -->
                    <td>{{promotion.promotionType}}</td>
                    <!-- <td>{{promotion.autoFlag}}</td> -->
                    <!-- <td>{{promotion.updateDate | date:'medium'}}</td> -->
                    <!-- <td>{{promotion.deleteFlag}}</td> -->
                    <!-- <td>{{promotion.channel}}</td> -->
                    <!-- <td>{{promotion.jsCondition}}</td> -->
                    <!-- <td>{{promotion.jsBonus}}</td> -->
                    <td>{{promotion.redeemFlag}}</td>
                    <!-- <td>{{promotion.imagePath}}</td> -->
                    <!-- <td>{{promotion.imagePath2}}</td> -->
                    <td>{{promotion.redeemPoints}}</td>
                    <!-- <td>
                        <a *ngIf="promotion.imageBlob1" (click)="openFile(promotion.imageBlob1ContentType, promotion.imageBlob1)">
                            <img [src]="'data:' + promotion.imageBlob1ContentType + ';base64,' + promotion.imageBlob1" style="max-height: 30px;" alt="promotion image"
                            />
                        </a>
                        <span *ngIf="promotion.imageBlob1">{{promotion.imageBlob1ContentType}}, {{byteSize(promotion.imageBlob1)}}</span>
                    </td> -->
                    <!-- <td>
                        <a *ngIf="promotion.imageBlob2" (click)="openFile(promotion.imageBlob2ContentType, promotion.imageBlob2)">
                            <img [src]="'data:' + promotion.imageBlob2ContentType + ';base64,' + promotion.imageBlob2" style="max-height: 30px;" alt="promotion image"
                            />
                        </a>
                        <span *ngIf="promotion.imageBlob2">{{promotion.imageBlob2ContentType}}, {{byteSize(promotion.imageBlob2)}}</span>
                    </td> -->
                    <td>
                        <img *ngIf="promotion.imageFullPath" [src]="promotion.imageFullPath" style="max-height: 30px;"
                            alt="promotion image">
                    </td>
                    <td>
                        <img *ngIf="promotion.imageFullPath2" [src]="promotion.imageFullPath2" style="max-height: 30px;"
                            alt="promotion image">
                    </td>
                    <td>{{promotion.publishStartDate | date:'mediumDate'}}</td>
                    <td>{{promotion.publishEndDate | date:'mediumDate'}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit" [routerLink]="['/promotion', promotion.id, 'view' ]" class="btn btn-info btn-sm">
                                <fa-icon [icon]="'eye'"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>
                            <button type="submit" [routerLink]="['/promotion', promotion.id, 'edit']" class="btn btn-primary btn-sm">
                                <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>
                            <button type="submit" [routerLink]="['/', { outlets: { popup: 'promotion/'+ promotion.id + '/delete'} }]"
                                replaceUrl="true" queryParamsHandling="merge" class="btn btn-danger btn-sm">
                                <fa-icon [icon]="'times'"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>