<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="promotion">
            <h2><span jhiTranslate="flexbaRmsWebApp.promotion.detail.title">Promotion</span> {{promotion.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="flexbaRmsWebApp.promotion.couponCode">Coupon Code</span></dt>
                <dd>
                    <span>{{promotion.couponCode}}</span>
                </dd>
                <dt><span jhiTranslate="flexbaRmsWebApp.promotion.promotionName">Promotion Name</span></dt>
                <dd>
                    <span>{{promotion.promotionName}}</span>
                </dd>
                <dt><span jhiTranslate="flexbaRmsWebApp.promotion.description">Description</span></dt>
                <dd>
                    <span>{{promotion.description}}</span>
                </dd>
                <dt><span jhiTranslate="flexbaRmsWebApp.promotion.htmlDescription">Html Description</span></dt>
                <dd>
                    <span>{{promotion.htmlDescription}}</span>
                </dd>
                <dt><span jhiTranslate="flexbaRmsWebApp.promotion.startDate">Start Date</span></dt>
                <dd>
                    <span>{{promotion.startDate}}</span>
                </dd>
                <dt><span jhiTranslate="flexbaRmsWebApp.promotion.endDate">End Date</span></dt>
                <dd>
                    <span>{{promotion.endDate}}</span>
                </dd>
                <dt><span jhiTranslate="flexbaRmsWebApp.promotion.status">Status</span></dt>
                <dd>
                    <span>{{promotion.status}}</span>
                </dd>
                <dt><span jhiTranslate="flexbaRmsWebApp.promotion.stopNextRule">Stop Next Rule</span></dt>
                <dd>
                    <span>{{promotion.stopNextRule}}</span>
                </dd>
                <dt><span jhiTranslate="flexbaRmsWebApp.promotion.sortOrder">Sort Order</span></dt>
                <dd>
                    <span>{{promotion.sortOrder}}</span>
                </dd>
                <dt><span jhiTranslate="flexbaRmsWebApp.promotion.useOrgPriceFlag">Use Org Price Flag</span></dt>
                <dd>
                    <span>{{promotion.useOrgPriceFlag}}</span>
                </dd>
                <dt><span jhiTranslate="flexbaRmsWebApp.promotion.appliedOn">Applied On</span></dt>
                <dd>
                    <span>{{promotion.appliedOn}}</span>
                </dd>
                <dt><span jhiTranslate="flexbaRmsWebApp.promotion.ruleData">Rule Data</span></dt>
                <dd>
                    <span>{{promotion.ruleData}}</span>
                </dd>
                <dt><span jhiTranslate="flexbaRmsWebApp.promotion.droolsRule">Drools Rule</span></dt>
                <dd>
                    <span>{{promotion.droolsRule}}</span>
                </dd>
                <dt><span jhiTranslate="flexbaRmsWebApp.promotion.allocationData">Allocation Data</span></dt>
                <dd>
                    <span>{{promotion.allocationData}}</span>
                </dd>
                <dt><span jhiTranslate="flexbaRmsWebApp.promotion.version">Version</span></dt>
                <dd>
                    <span>{{promotion.version}}</span>
                </dd>
                <dt><span jhiTranslate="flexbaRmsWebApp.promotion.runMode">Run Mode</span></dt>
                <dd>
                    <span>{{promotion.runMode}}</span>
                </dd>
                <dt><span jhiTranslate="flexbaRmsWebApp.promotion.onStore">On Store</span></dt>
                <dd>
                    <span>{{promotion.onStore}}</span>
                </dd>
                <dt><span jhiTranslate="flexbaRmsWebApp.promotion.promotionType">Promotion Type</span></dt>
                <dd>
                    <span>{{promotion.promotionType}}</span>
                </dd>
                <dt><span jhiTranslate="flexbaRmsWebApp.promotion.autoFlag">Auto Flag</span></dt>
                <dd>
                    <span>{{promotion.autoFlag}}</span>
                </dd>
                <dt><span jhiTranslate="flexbaRmsWebApp.promotion.updateDate">Update Date</span></dt>
                <dd>
                    <span>{{promotion.updateDate}}</span>
                </dd>
                <dt><span jhiTranslate="flexbaRmsWebApp.promotion.deleteFlag">Delete Flag</span></dt>
                <dd>
                    <span>{{promotion.deleteFlag}}</span>
                </dd>
                <dt><span jhiTranslate="flexbaRmsWebApp.promotion.channel">Channel</span></dt>
                <dd>
                    <span>{{promotion.channel}}</span>
                </dd>
                <dt><span jhiTranslate="flexbaRmsWebApp.promotion.jsCondition">Js Condition</span></dt>
                <dd>
                    <span>{{promotion.jsCondition}}</span>
                </dd>
                <dt><span jhiTranslate="flexbaRmsWebApp.promotion.jsBonus">Js Bonus</span></dt>
                <dd>
                    <span>{{promotion.jsBonus}}</span>
                </dd>
                <dt><span jhiTranslate="flexbaRmsWebApp.promotion.redeemFlag">Redeem Flag</span></dt>
                <dd>
                    <span>{{promotion.redeemFlag}}</span>
                </dd>
                <dt><span jhiTranslate="flexbaRmsWebApp.promotion.imagePath">Image Path</span></dt>
                <dd>
                    <span>{{promotion.imagePath}}</span>
                </dd>
                <dt><span jhiTranslate="flexbaRmsWebApp.promotion.imagePath2">Image Path 2</span></dt>
                <dd>
                    <span>{{promotion.imagePath2}}</span>
                </dd>
                <dt><span jhiTranslate="flexbaRmsWebApp.promotion.redeemPoints">Redeem Points</span></dt>
                <dd>
                    <span>{{promotion.redeemPoints}}</span>
                </dd>
                <dt><span jhiTranslate="flexbaRmsWebApp.promotion.imageBlob1">Image 1</span></dt>
                <dd>
                    <div *ngIf="promotion.imageBlob1">
                        <a (click)="openFile(promotion.imageBlob1ContentType, promotion.imageBlob1)">
                            <img [src]="'data:' + promotion.imageBlob1ContentType + ';base64,' + promotion.imageBlob1" style="max-width: 100%;" alt="promotion image"/>
                        </a>
                        {{promotion.imageBlob1ContentType}}, {{byteSize(promotion.imageBlob1)}}
                    </div>
                </dd>
                <dt><span jhiTranslate="flexbaRmsWebApp.promotion.imageBlob2">Image 2</span></dt>
                <dd>
                    <div *ngIf="promotion.imageBlob2">
                        <a (click)="openFile(promotion.imageBlob2ContentType, promotion.imageBlob2)">
                            <img [src]="'data:' + promotion.imageBlob2ContentType + ';base64,' + promotion.imageBlob2" style="max-width: 100%;" alt="promotion image"/>
                        </a>
                        {{promotion.imageBlob2ContentType}}, {{byteSize(promotion.imageBlob2)}}
                    </div>
                </dd>
                <dt><span jhiTranslate="flexbaRmsWebApp.promotion.publishStartDate">Publish Start Date</span></dt>
                <dd>
                    <span>{{promotion.publishStartDate}}</span>
                </dd>
                <dt><span jhiTranslate="flexbaRmsWebApp.promotion.publishEndDate">Publish End Date</span></dt>
                <dd>
                    <span>{{promotion.publishEndDate}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/promotion', promotion.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
