<div class="row justify-content-center">
    <div class="col-8">
        <form class="promotion-form" name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-promotion-heading" jhiTranslate="flexbaRmsWebApp.promotion.home.createOrEditLabel">Create or edit
                a Promotion</h2>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
            <br>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!promotion.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" [(ngModel)]="promotion.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="flexbaRmsWebApp.promotion.couponCode" for="field_couponCode">Coupon
                        Code
                    </label>
                    <input #couponCodeInput="ngModel" required type="text" class="form-control" name="couponCode" id="field_couponCode" [(ngModel)]="promotion.couponCode"
                    (ngModelChange)="changeCouponCode()"
                    />
                    <div *ngIf="couponCodeInput.dirty && couponCodeInput.invalid">
                        <small class="form-text text-danger" *ngIf="couponCodeInput.errors.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="flexbaRmsWebApp.promotion.saleId" for="field_saleId">Sale
                        ID
                    </label>
                    <input disabled="true" #saleIdInput="ngModel" type="text" class="form-control" name="saleId" id="field_saleId" [(ngModel)]="promotion.saleId"
                    />
                    <!-- <div *ngIf="saleIdInput.dirty && saleIdInput.invalid">
                        <small class="form-text text-danger" *ngIf="saleIdInput.errors.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div> -->
                </div>
                <div class="form-group" *ngIf="promotion.sale">
                    <label class="form-control-label" for="field_saleName">Sale name
                    </label>
                    <input disabled="true" #saleIdInput="ngModel" type="text" class="form-control" name="saleName" id="field_saleName" [(ngModel)]="promotion.sale.name"
                    />
                    <!-- <div *ngIf="saleIdInput.dirty && saleIdInput.invalid">
                        <small class="form-text text-danger" *ngIf="saleIdInput.errors.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div> -->
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="flexbaRmsWebApp.promotion.promotionName" for="field_promotionName">Promotion
                        Name
                    </label>
                    <input #promotionNameInput="ngModel" required type="text" class="form-control" name="promotionName" id="field_promotionName"
                        [(ngModel)]="promotion.promotionName" />
                    <div *ngIf="promotionNameInput.dirty && promotionNameInput.invalid">
                        <small class="form-text text-danger" *ngIf="promotionNameInput.errors.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="flexbaRmsWebApp.promotion.description" for="field_description">Description</label>
                    <input #descriptionInput="ngModel" required type="text" class="form-control" name="description" id="field_description" [(ngModel)]="promotion.description"
                    />
                    <div *ngIf="descriptionInput.dirty && descriptionInput.invalid">
                        <small class="form-text text-danger" *ngIf="descriptionInput.errors.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="flexbaRmsWebApp.promotion.htmlDescription" for="field_htmlDescription">Html
                        Description
                    </label>
                    
                    <div style="position: relative;">
                        <input #htmlDescriptionInput="ngModel" required type="text" class="form-control" name="htmlDescription" id="field_htmlDescription"
                            [(ngModel)]="promotion.htmlDescription" />

                        <!-- <div class="htmlDescription" [froalaEditor]="options" [(froalaModel)]="promotion.htmlDescription"></div> -->

                        <!-- <quill-editor [style]="{height: '250px'}" (onEditorCreated)="setFocus($event)"></quill-editor> -->
                        <app-ngx-editor class="htmlDescription" [placeholder]="'Enter text here...'" [spellcheck]="false" [(ngModel)]="promotion.htmlDescription" [ngModelOptions]="{standalone: true}"></app-ngx-editor>s
                        <div *ngIf="htmlDescriptionInput.dirty && htmlDescriptionInput.invalid">
                            <small class="form-text text-danger" *ngIf="htmlDescriptionInput.errors.required" jhiTranslate="entity.validation.required">
                                This field is required.
                            </small>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="flexbaRmsWebApp.promotion.redeemFlag" for="field_redeemFlag">Redeem
                        Flag
                    </label>
                    <input #redeemFlagInput="ngModel" type="checkbox" class="form-control" name="redeemFlag" id="field_redeemFlag" [(ngModel)]="promotion.redeemFlag"
                    />

                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="flexbaRmsWebApp.promotion.redeemPoints" for="field_redeemPoints">Redeem
                        Points
                    </label>
                    <input [disabled] = "!promotion.redeemFlag" pattern="[+-]?([0-9]*[.])?[0-9]+" #redeemPointsInput="ngModel" [requiredIf]="promotion.redeemFlag" type="number" class="form-control"
                        name="redeemPoints" id="field_redeemPoints" [(ngModel)]="promotion.redeemPoints" />
                    <div *ngIf="redeemPointsInput.dirty && redeemPointsInput.invalid">
                        <small class="form-text text-danger" *ngIf="redeemPointsInput.errors.requiredIf">
                            You must enter the redeem points when you turn on redeem flag.
                        </small>
                        <small class="form-text text-danger" *ngIf="redeemPointsInput.errors.pattern">
                            Redeem points must be number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="flexbaRmsWebApp.promotion.startDate" for="field_startDate">Start
                        Date
                    </label>
                    <div class="input-group">
                        <input #startDateInput="ngModel" required id="field_startDate" type="text" class="form-control" name="startDate" ngbDatepicker
                            #startDateDp="ngbDatepicker" [(ngModel)]="promotion.startDate" />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="startDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="startDateInput.dirty && startDateInput.invalid">
                        <small class="form-text text-danger" *ngIf="startDateInput.errors.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="flexbaRmsWebApp.promotion.endDate" for="field_endDate">End
                        Date
                    </label>
                    <div class="input-group">
                        <input #endDateInput="ngModel" required id="field_endDate" type="text" class="form-control" name="endDate" ngbDatepicker
                            #endDateDp="ngbDatepicker" [(ngModel)]="promotion.endDate" />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="endDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="endDateInput.dirty && endDateInput.invalid">
                        <small class="form-text text-danger" *ngIf="endDateInput.errors.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="flexbaRmsWebApp.promotion.status" for="field_status">Status</label>
                    <div>
                        <input #statusInput="ngModel" required type="number" class="form-control" name="status" id="field_status" [(ngModel)]="promotion.status" />
                        <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
                            <button type="button" class="btn btn-outline-danger" ngbDropdownToggle>{{promotion.promotionStatusName}}</button>
                            <div class="dropdown-menu" ngbDropdownMenu>
                                <button (click)="selectStatus(promotionStatus.name)" *ngFor="let promotionStatus of promotionStatuses; index as i; first as isFirst" type="button"
                                    class="dropdown-item">{{promotionStatus.name}}</button>
                            </div>
                        </div>
                        <div *ngIf="statusInput.dirty && statusInput.invalid">
                                <small class="form-text text-danger" *ngIf="statusInput.errors.required" jhiTranslate="entity.validation.required">
                                    This field is required.
                                </small>
                            </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="flexbaRmsWebApp.promotion.promotionType" for="field_promotionType">Promotion
                        Type
                    </label>
                    <div>
                        <input #promotionTypeInput="ngModel" required type="number" class="form-control" name="promotionType" id="field_promotionType"
                            [(ngModel)]="promotion.promotionType" />
                        <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
                            <button type="button" class="btn btn-outline-danger" ngbDropdownToggle>{{promotion.promotionTypeName}}</button>
                            <div class="dropdown-menu" ngbDropdownMenu>
                                <button (click)="select(promotionType.name)" *ngFor="let promotionType of promotionTypes; index as i; first as isFirst" type="button"
                                    class="dropdown-item">{{promotionType.name}}</button>
                            </div>
                        </div>
                        <div *ngIf="promotionTypeInput.dirty && promotionTypeInput.invalid">
                            <small class="form-text text-danger" *ngIf="promotionTypeInput.errors.required" jhiTranslate="entity.validation.required">
                                This field is required.
                            </small>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="flexbaRmsWebApp.promotion.numPresentees" for="field_numPresentees">Redeem
                        Points
                    </label>
                    <input [disabled] = "promotion.promotionType != 5" pattern="[+-]?([0-9]*[.])?[0-9]+" #numPresenteesInput="ngModel" [requiredIf]="promotion.promotionType == 5" type="number" class="form-control"
                        name="numPresentees" id="field_numPresentees" [(ngModel)]="promotion.numPresentees" />
                    <div *ngIf="numPresenteesInput.dirty && numPresenteesInput.invalid">
                        <small class="form-text text-danger" *ngIf="numPresenteesInput.errors.requiredIf">
                            You must enter the numPresentees when promotion is Referral.
                        </small>
                        <small class="form-text text-danger" *ngIf="numPresenteesInput.errors.pattern">
                            numPresentees must be number.
                        </small>
                    </div>
                </div>
                
                <!-- <div class="form-group">
                    <label class="form-control-label" jhiTranslate="flexbaRmsWebApp.promotion.channel" for="field_channel">Channel</label>
                    <input type="text" class="form-control" name="channel" id="field_channel"
                        [(ngModel)]="promotion.channel" />
                </div> -->
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="flexbaRmsWebApp.promotion.imageBlob1" for="field_imageBlob1">Image
                        Blob 1</label>
                    <div>
                        <img [src]="'data:' + promotion.imageBlob1ContentType + ';base64,' + promotion.imageBlob1" style="max-height: 100px;" *ngIf="promotion.imageBlob1"
                            alt="promotion image" />
                        <div *ngIf="promotion.imageBlob1" class="form-text text-danger clearfix">
                            <span class="pull-left">{{promotion.imageBlob1ContentType}}, {{byteSize(promotion.imageBlob1)}}</span>
                            <button type="button" (click)="clearInputImage('imageBlob1', 'imageBlob1ContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_imageBlob1" (change)="setFileData($event, promotion, 'imageBlob1', true)" accept="image/*" jhiTranslate="entity.action.addimage"
                        />
                    </div>
                    <input type="hidden" class="form-control" name="imageBlob1" id="field_imageBlob1" [(ngModel)]="promotion.imageBlob1" />
                    <input type="hidden" class="form-control" name="imageBlob1ContentType" id="field_imageBlob1ContentType" [(ngModel)]="promotion.imageBlob1ContentType"
                    />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="flexbaRmsWebApp.promotion.imageBlob2" for="field_imageBlob2">Image
                        Blob 2</label>
                    <div>
                        <img [src]="'data:' + promotion.imageBlob2ContentType + ';base64,' + promotion.imageBlob2" style="max-height: 100px;" *ngIf="promotion.imageBlob2"
                            alt="promotion image" />
                        <div *ngIf="promotion.imageBlob2" class="form-text text-danger clearfix">
                            <span class="pull-left">{{promotion.imageBlob2ContentType}}, {{byteSize(promotion.imageBlob2)}}</span>
                            <button type="button" (click)="clearInputImage('imageBlob2', 'imageBlob2ContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_imageBlob2" (change)="setFileData($event, promotion, 'imageBlob2', true)" accept="image/*" jhiTranslate="entity.action.addimage"
                        />
                    </div>
                    <input type="hidden" class="form-control" name="imageBlob2" id="field_imageBlob2" [(ngModel)]="promotion.imageBlob2" />
                    <input type="hidden" class="form-control" name="imageBlob2ContentType" id="field_imageBlob2ContentType" [(ngModel)]="promotion.imageBlob2ContentType"
                    />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="flexbaRmsWebApp.promotion.publishStartDate" for="field_publishStartDate">Publish
                        Start Date</label>
                    <div class="input-group">
                        <input #publishStartDateInput="ngModel" required id="field_publishStartDate" type="text" class="form-control" name="publishStartDate"
                            ngbDatepicker #publishStartDateDp="ngbDatepicker" [(ngModel)]="promotion.publishStartDate" />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="publishStartDateDp.toggle()"><fa-icon
                                    [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                        <div *ngIf="publishStartDateInput.dirty && publishStartDateInput.invalid">
                            <small class="form-text text-danger" *ngIf="publishStartDateInput.errors.required" jhiTranslate="entity.validation.required">
                                This field is required.
                            </small>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="flexbaRmsWebApp.promotion.publishEndDate" for="field_publishEndDate">Publish
                        End Date</label>
                    <div class="input-group">
                        <input #publishEndDateInput="ngModel" required id="field_publishEndDate" type="text" class="form-control" name="publishEndDate"
                            ngbDatepicker #publishEndDateDp="ngbDatepicker" [(ngModel)]="promotion.publishEndDate" />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="publishEndDateDp.toggle()"><fa-icon
                                    [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                        <div *ngIf="publishEndDateInput.dirty && publishEndDateInput.invalid">
                            <small class="form-text text-danger" *ngIf="publishEndDateInput.errors.required" jhiTranslate="entity.validation.required">
                                This field is required.
                            </small>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="flexbaRmsWebApp.promotion.sortOrder" for="field_sortOrder">Sort
                        Order
                    </label>
                    <input #sortOrderInput="ngModel" required type="number" class="form-control" name="sortOrder" id="field_sortOrder" [(ngModel)]="promotion.sortOrder"
                    />
                    <div *ngIf="sortOrderInput.dirty && sortOrderInput.invalid">
                        <small class="form-text text-danger" *ngIf="sortOrderInput.errors.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div>
                </div>
                <!-- <div class="form-group invisible">
                    <label class="form-control-label" jhiTranslate="flexbaRmsWebApp.promotion.stopNextRule" for="field_stopNextRule">Stop Next Rule</label>
                    <input type="checkbox" class="form-control" name="stopNextRule" id="field_stopNextRule"
                        [(ngModel)]="promotion.stopNextRule" />
                </div> -->


                <!-- <div class="form-group invisible">
                    <label class="form-control-label" jhiTranslate="flexbaRmsWebApp.promotion.useOrgPriceFlag" for="field_useOrgPriceFlag">Use Org Price Flag</label>
                    <input type="checkbox" class="form-control" name="useOrgPriceFlag" id="field_useOrgPriceFlag"
                        [(ngModel)]="promotion.useOrgPriceFlag" />
                </div>
                <div class="form-group invisible">
                    <label class="form-control-label" jhiTranslate="flexbaRmsWebApp.promotion.appliedOn" for="field_appliedOn">Applied On</label>
                    <input type="number" class="form-control" name="appliedOn" id="field_appliedOn"
                        [(ngModel)]="promotion.appliedOn" />
                </div> -->
                <!-- <div class="form-group invisible">
                    <label class="form-control-label" jhiTranslate="flexbaRmsWebApp.promotion.ruleData" for="field_ruleData">Rule Data</label>
                    <div>
                        <div *ngIf="promotion.ruleData" class="form-text text-danger clearfix">
                            <span class="pull-left">{{promotion.ruleDataContentType}}, {{byteSize(promotion.ruleData)}}</span>
                            <button type="button" (click)="promotion.ruleData=null;promotion.ruleDataContentType=null;"
                                    class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_ruleData" (change)="setFileData($event, promotion, 'ruleData', false)" jhiTranslate="entity.action.addblob"/>
                    </div>
                    <input type="hidden" class="form-control" name="ruleData" id="field_ruleData"
                        [(ngModel)]="promotion.ruleData" />
                    <input type="hidden" class="form-control" name="ruleDataContentType" id="field_ruleDataContentType"
                        [(ngModel)]="promotion.ruleDataContentType" />
                </div>
                <div class="form-group invisible">
                    <label class="form-control-label" jhiTranslate="flexbaRmsWebApp.promotion.droolsRule" for="field_droolsRule">Drools Rule</label>
                    <input type="text" class="form-control" name="droolsRule" id="field_droolsRule"
                        [(ngModel)]="promotion.droolsRule" />
                </div>
                <div class="form-group invisible">
                    <label class="form-control-label" jhiTranslate="flexbaRmsWebApp.promotion.allocationData" for="field_allocationData">Allocation Data</label>
                    <div>
                        <div *ngIf="promotion.allocationData" class="form-text text-danger clearfix">
                            <span class="pull-left">{{promotion.allocationDataContentType}}, {{byteSize(promotion.allocationData)}}</span>
                            <button type="button" (click)="promotion.allocationData=null;promotion.allocationDataContentType=null;"
                                    class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_allocationData" (change)="setFileData($event, promotion, 'allocationData', false)" jhiTranslate="entity.action.addblob"/>
                    </div>
                    <input type="hidden" class="form-control" name="allocationData" id="field_allocationData"
                        [(ngModel)]="promotion.allocationData" />
                    <input type="hidden" class="form-control" name="allocationDataContentType" id="field_allocationDataContentType"
                        [(ngModel)]="promotion.allocationDataContentType" />
                </div>
                <div class="form-group invisible">
                    <label class="form-control-label" jhiTranslate="flexbaRmsWebApp.promotion.version" for="field_version">Version</label>
                    <input type="number" class="form-control" name="version" id="field_version"
                        [(ngModel)]="promotion.version" />
                </div>
                <div class="form-group invisible">
                    <label class="form-control-label" jhiTranslate="flexbaRmsWebApp.promotion.runMode" for="field_runMode">Run Mode</label>
                    <input type="number" class="form-control" name="runMode" id="field_runMode"
                        [(ngModel)]="promotion.runMode" />
                </div>
                <div class="form-group invisible">
                    <label class="form-control-label" jhiTranslate="flexbaRmsWebApp.promotion.onStore" for="field_onStore">On Store</label>
                    <input type="text" class="form-control" name="onStore" id="field_onStore"
                        [(ngModel)]="promotion.onStore" />
                </div> -->

                <!-- <div class="form-group invisible">
                    <label class="form-control-label" jhiTranslate="flexbaRmsWebApp.promotion.updateDate" for="field_updateDate">Update Date</label>
                    <div class="d-flex">
                        <input id="field_updateDate" type="datetime-local" class="form-control" name="updateDate" [(ngModel)]="updateDate"
                        />
                    </div>
                </div> -->

                <!-- <div class="form-group invisible">
                    <label class="form-control-label" jhiTranslate="flexbaRmsWebApp.promotion.jsCondition" for="field_jsCondition">Js Condition</label>
                    <input type="text" class="form-control" name="jsCondition" id="field_jsCondition"
                        [(ngModel)]="promotion.jsCondition" />
                </div>
                <div class="form-group invisible">
                    <label class="form-control-label" jhiTranslate="flexbaRmsWebApp.promotion.jsBonus" for="field_jsBonus">Js Bonus</label>
                    <input type="text" class="form-control" name="jsBonus" id="field_jsBonus"
                        [(ngModel)]="promotion.jsBonus" />
                </div>
                
                <div class="form-group invisible">
                    <label class="form-control-label" jhiTranslate="flexbaRmsWebApp.promotion.imagePath" for="field_imagePath">Image Path</label>
                    <input type="text" class="form-control" name="imagePath" id="field_imagePath"
                        [(ngModel)]="promotion.imagePath" />
                </div>
                <div class="form-group invisible">
                    <label class="form-control-label" jhiTranslate="flexbaRmsWebApp.promotion.imagePath2" for="field_imagePath2">Image Path 2</label>
                    <input type="text" class="form-control" name="imagePath2" id="field_imagePath2"
                        [(ngModel)]="promotion.imagePath2" />
                </div> -->

                <!-- <div class="form-group invisible">
                    <label class="form-control-label" jhiTranslate="flexbaRmsWebApp.promotion.autoFlag" for="field_autoFlag">Auto Flag</label>
                    <input type="checkbox" class="form-control" name="autoFlag" id="field_autoFlag"
                        [(ngModel)]="promotion.autoFlag" />
                </div> -->
                <!-- <div class="form-group invisible">
                    <label class="form-control-label" jhiTranslate="flexbaRmsWebApp.promotion.deleteFlag" for="field_deleteFlag">Delete Flag</label>
                    <input type="checkbox" class="form-control" name="deleteFlag" id="field_deleteFlag"
                        [(ngModel)]="promotion.deleteFlag" />
                </div> -->


            </div>

        </form>
    </div>
</div>