<div class="row justify-content-center">
    <div class="col-8">
        <h2>Merge customers</h2>
        <div style="text-align: right">
            <button class="btn btn-danger" (click)="clearAll($event)">
                <fa-icon [icon]="'times'"></fa-icon>&nbsp;<span>Clear all</span>
            </button>
        </div>
        <div class="form-group">
            <label for="typeahead-http">Search for customers</label>
            <input id="typeahead-http" type="text" class="form-control" [class.is-invalid]="searchFailed" (selectItem)="selectedItem($event)"
                [inputFormatter]="formatter" [ngbTypeahead]="search" [resultTemplate]="rt" placeholder="Customer search" />
            <span *ngIf="searching">...Searching...</span>
            <div class="invalid-feedback" *ngIf="searchFailed">Sorry, suggestions could not be loaded.</div>
        </div>
        <hr>
        <h3>Main account: </h3>
        <ag-grid-angular style="width: 100%; height: 80px;" class="ag-theme-balham" [rowData]="rowData2" [columnDefs]="columnDefs2"
            [rowClassRules]="rowClassRules" (gridReady)="onGridReady2($event)">
        </ag-grid-angular>
        <br>
        <h6>Please select a level if you want force level of customer after merging.</h6>
        <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
            <button type="button" class="btn btn-outline-danger" ngbDropdownToggle>{{keepLevelName}}</button>
            <div class="dropdown-menu" ngbDropdownMenu>
                <button (click)="selectLevel(level.name)" *ngFor="let level of levels; index as i; first as isFirst"
                    type="button" class="dropdown-item">{{level.name}}</button>
            </div>
        </div>
        <br>
        <br>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1" [checked]="deleteOldCustomer">
            <label class="form-check-label" for="exampleCheck1">Delete old accounts</label>
          </div>
        <br>
        <h6>Please select a account from below list to use it as main account</h6>
        <br>
        <ag-grid-angular style="width: 100%; height: 200px;" class="ag-theme-balham" [rowData]="rowData" [columnDefs]="columnDefs"
            [rowClassRules]="rowClassRules" (gridReady)="onGridReady($event)" (selectionChanged)="onSelectionChanged($event)">
        </ag-grid-angular>
        <br>
        <div style="text-align: right">
            <button class="btn btn-danger" (click)="onMerge($event)">
                <fa-icon [icon]="'times'"></fa-icon>&nbsp;<span>Merge</span>
            </button>
        </div>
    </div>
</div>

<ng-template #rt let-r="result" let-t="term">
    <img *ngIf="r.imagePath" [src]="SERVER_FLEXBA_RMS + 'customer/avatar/get?customerCode=' + r.customerCode" class="mr-1" style="width: 16px; height:16px">
    <ngb-highlight [result]="r.fullName + '-' + r.tel2" [term]="t"></ngb-highlight>
</ng-template>