<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-config-heading" jhiTranslate="flexbaRmsWebApp.config.home.createOrEditLabel">Create or edit a Config</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="config.id" [readonly]="!isCreate" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="flexbaRmsWebApp.config.configValue" for="field_configValue">Config Value</label>
                    <input type="text" class="form-control" name="configValue" id="field_configValue"
                        [(ngModel)]="config.configValue" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="flexbaRmsWebApp.config.syncConfigFlag" for="field_syncConfigFlag">Sync Config Flag</label>
                    <input type="text" class="form-control" name="syncConfigFlag" id="field_syncConfigFlag"
                        [(ngModel)]="config.syncConfigFlag" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="flexbaRmsWebApp.config.allowChangeSyncConfigFlag" for="field_allowChangeSyncConfigFlag">Allow Change Sync Config Flag</label>
                    <input type="checkbox" class="form-control" name="allowChangeSyncConfigFlag" id="field_allowChangeSyncConfigFlag"
                        [(ngModel)]="config.allowChangeSyncConfigFlag" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="flexbaRmsWebApp.config.updateDate" for="field_updateDate">Update Date</label>
                    <div class="d-flex">
                        <input id="field_updateDate" type="datetime-local" class="form-control" name="updateDate" [(ngModel)]="updateDate"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="flexbaRmsWebApp.config.channel" for="field_channel">Channel</label>
                    <input type="text" class="form-control" name="channel" id="field_channel"
                        [(ngModel)]="config.channel" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
