<div>
    <h2 id="page-heading">
        <span jhiTranslate="flexbaRmsWebApp.config.home.title">Configs</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-config" [routerLink]="['/config/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="flexbaRmsWebApp.config.home.createLabel">
            Create new Config
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="configs">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <!-- <th jhiSortBy="configKey"><span jhiTranslate="flexbaRmsWebApp.config.configKey">Config Key</span> <fa-icon [icon]="'sort'"></fa-icon></th> -->
            <th jhiSortBy="configValue"><span jhiTranslate="flexbaRmsWebApp.config.configValue">Config Value</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="syncConfigFlag"><span jhiTranslate="flexbaRmsWebApp.config.syncConfigFlag">Sync Config Flag</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="allowChangeSyncConfigFlag"><span jhiTranslate="flexbaRmsWebApp.config.allowChangeSyncConfigFlag">Allow Change Sync Config Flag</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="updateDate"><span jhiTranslate="flexbaRmsWebApp.config.updateDate">Update Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="channel"><span jhiTranslate="flexbaRmsWebApp.config.channel">Channel</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let config of configs ;trackBy: trackId">
                <td><a [routerLink]="['/config', config.id, 'view' ]">{{config.id}}</a></td>
                <!-- <td>{{config.configKey}}</td> -->
                <td>{{config.configValue}}</td>
                <td>{{config.syncConfigFlag}}</td>
                <td>{{config.allowChangeSyncConfigFlag}}</td>
                <td>{{config.updateDate | date:'medium'}}</td>
                <td>{{config.channel}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/config', config.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/config', config.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'config/'+ config.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="configs && configs.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
