<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="config">
            <h2><span jhiTranslate="flexbaRmsWebApp.config.detail.title">Config</span> {{config.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="flexbaRmsWebApp.config.configValue">Config Value</span></dt>
                <dd>
                    <span>{{config.configValue}}</span>
                </dd>
                <dt><span jhiTranslate="flexbaRmsWebApp.config.syncConfigFlag">Sync Config Flag</span></dt>
                <dd>
                    <span>{{config.syncConfigFlag}}</span>
                </dd>
                <dt><span jhiTranslate="flexbaRmsWebApp.config.allowChangeSyncConfigFlag">Allow Change Sync Config Flag</span></dt>
                <dd>
                    <span>{{config.allowChangeSyncConfigFlag}}</span>
                </dd>
                <dt><span jhiTranslate="flexbaRmsWebApp.config.updateDate">Update Date</span></dt>
                <dd>
                    <span>{{config.updateDate}}</span>
                </dd>
                <dt><span jhiTranslate="flexbaRmsWebApp.config.channel">Channel</span></dt>
                <dd>
                    <span>{{config.channel}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/config', config.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
