#ratingSearchForm {
  font-size: 12px;
  label {
    font-weight: bold;
  }
  #field_inventoryType {
    width: 1px;
    display: inline;
    padding-top: 3px;
    padding-right: 0px;
    padding-left: 0px;
  }
  #field_inventory {
    width: 1px;
    display: inline;
    padding-top: 3px;
    padding-right: 0px;
    padding-left: 0px;
  }

  #field_status {
    width: 1px;
    display: inline;
    padding-top: 3px;
    padding-right: 0px;
    padding-left: 0px;
  }
  #field_htmlDescription {
    width: 1px;
    padding-top: 3px;
    padding-right: 0px;
    padding-left: 0px;
    height: 100%;
    position: absolute;
  }
  .htmlDescription {
    margin-left: 5px;
  }
  app-ngx-editor {
    top: 0px;
    position: relative;
    left: 5px;
  }
}
