<div class="row justify-content-center">
    <div class="col-8" *ngIf="loadFinished">
        <h4>Score</h4>
        <div>
            <ngb-rating [(rate)]="customerRating.numStar" [max]="5" [readonly]="true">
                <ng-template let-fill="fill" let-index="index">
                    <span class="star" [class.filled]="fill === 100" [class.bad]="index < 3">&#9733;</span>
                </ng-template>
            </ngb-rating>
        </div>
        <h4>Store: </h4>
        <div>{{customerRating.inventoryName}}</div>
        <h4>Customer code: </h4>
        <div>{{customerRating.customerCode}}</div>
        <h4>Comment: </h4>
        <p>{{customerRating.comment}}</p>
        <h4>Created date: </h4>
        <div>{{customerRating.createdDate.toString()}}</div>
        <br>
        <h2>Details: </h2>
        <div *ngFor="let question of questions; let i = index">
            <ng-container *ngIf="question.answerred">
                <div><span>{{i+1}}. </span>{{question.content}}</div>
                <br>
                <p *ngIf="question.answerType == TEXT">
                    {{question.answer.value}}
                </p>
                <div *ngIf="question.answerType != TEXT" class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic">
                    <ng-contrainer *ngIf="question.suggestAnswers">
                        <label *ngFor="let s of question.suggestAnswers;" ngbButtonLabel [ngClass]="!s.answerrred? 'btn-noselect' : 'btn-primary'">
                            <input disabled="true" ngbButton type="checkbox">{{s.categoryName}}
                        </label>
                    </ng-contrainer>
                    
                </div>
            </ng-container>
        </div>
        <!-- <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm" *ngIf="showForm">
            <h2 id="jhi-customer-rating-heading">Rating details</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!customerRating.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input disabled="true" type="text" class="form-control" id="id" name="id" [(ngModel)]="customerRating.id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="flexbaRmsWebApp.customerRating.numStar" for="field_numStar">Num
                        Star</label>
                    <input disabled="true" type="number" class="form-control" name="numStar" id="field_numStar"
                        [(ngModel)]="customerRating.numStar" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="flexbaRmsWebApp.customerRating.customerCode" for="field_customerCode">Customer
                        Code</label>
                    <input disabled="true" type="text" class="form-control" name="customerCode" id="field_customerCode"
                        [(ngModel)]="customerRating.customerCode" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="flexbaRmsWebApp.customerRating.source" for="field_source">Source</label>
                    <input disabled="true" type="text" class="form-control" name="source" id="field_source" [(ngModel)]="customerRating.source" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_inventoryName">Inventory Name</label>
                    <input disabled="true" type="text" class="form-control" name="inventoryName" id="field_inventoryName"
                        [(ngModel)]="customerRating.inventoryName" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_type">Type</label>
                    <input disabled="true" type="text" class="form-control" name="type" id="field_typeName" [(ngModel)]="customerRating.typeName" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="flexbaRmsWebApp.customerRating.comment" for="field_comment">Comment</label>
                    <textarea disabled="true" type="text" class="form-control" name="comment" id="field_comment"
                        [(ngModel)]="customerRating.comment"></textarea>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="flexbaRmsWebApp.customerRating.updatedDate" for="field_updatedDate">Updated
                        Date</label>
                    <div class="d-flex">
                        <input disabled="true" id="field_updatedDate" type="datetime-local" class="form-control" name="updatedDate"
                            [(ngModel)]="updatedDate" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="flexbaRmsWebApp.customerRating.createdDate" for="field_createdDate">Created
                        Date</label>
                    <div class="d-flex">
                        <input disabled="true" id="field_createdDate" type="datetime-local" class="form-control" name="createdDate"
                            [(ngModel)]="createdDate" />
                    </div>
                </div>

            </div>
            <div>
            </div>
        </form> -->
    </div>
</div>