.star {
  font-size: 1.5rem;
  color: #b0c4de;
}
.filled {
  color: #1e90ff;
}
.bad {
  // color: #deb0b0;
}
.filled.bad {
  // color: #ff1e1e;
}

.btn {
  input {
    display: none;
  }
  margin: 2px;
}

.btn-noselect {
  color: #fff;
  background-color: #9ba0a5;
  border-color: #3e8acc;
}
