<div>
    <h2 id="page-heading">
        <span jhiTranslate="flexbaRmsWebApp.customerRating.home.title">Customer Ratings</span>
        <!-- <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-customer-rating" [routerLink]="['/customer-rating/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="flexbaRmsWebApp.customerRating.home.createLabel">
            Create new Customer Rating
            </span>
        </button> -->
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <form id="ratingSearchForm">
        <div class="form-group">
          <label for="name">Customer Code</label>
          <input type="text" class="form-control" id="customerCode" [(ngModel)]="searchObject.customerCode"   [ngModelOptions]="{standalone: true}">
        </div>
   
        <!-- <div class="form-group">
          <label for="alterEgo">Inventory name</label>
          <input disabled="true" type="text" class="form-control" id="inventoryName" [(ngModel)]="searchObject.inventoryName"   [ngModelOptions]="{standalone: true}">
        </div> -->

        <div class="form-group">
            <label class="form-control-label" for="field_inventory">Store
            </label>
            <div>
                <input #inventoryInput="ngModel" type="text" class="form-control" name="inventory" id="field_inventory"
                    [(ngModel)]="searchObject.inventoryCode" />
                <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
                    <button type="button" class="btn btn-outline-danger" ngbDropdownToggle>{{searchObject.inventoryName}}</button>
                    <div class="dropdown-menu" ngbDropdownMenu>
                        <button (click)="selectInventory(inventory.inventoryCode)" *ngFor="let inventory of inventories; index as i; first as isFirst" type="button"
                            class="dropdown-item">{{inventory.inventoryName}}</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_inventoryType">Inventory
                Type
            </label>
            <div>
                <input #inventoryTypeInput="ngModel" type="text" class="form-control" name="inventoryType" id="field_inventoryType"
                    [(ngModel)]="searchObject.inventoryType" />
                <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
                    <button type="button" class="btn btn-outline-danger" ngbDropdownToggle>{{searchObject.inventoryTypeName}}</button>
                    <div class="dropdown-menu" ngbDropdownMenu>
                        <button (click)="selectInventoryType(inventoryType.typeCode)" *ngFor="let inventoryType of inventoryTypes; index as i; first as isFirst" type="button"
                            class="dropdown-item">{{inventoryType.typeName}}</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="form-group">
            <label for="alterEgo">Receipt number</label>
            <input type="text" class="form-control" id="receiptNumber" [(ngModel)]="searchObject.receiptNumber"  [ngModelOptions]="{standalone: true}">
        </div>

        <div class="form-group">
            <label for="alterEgo">MV link</label>
            <input type="text" class="form-control" id="mvLink" [(ngModel)]="searchObject.mvLink"  [ngModelOptions]="{standalone: true}">
        </div> -->

        <div class="form-group">
            <label for="alterEgo">Num star</label>
            <input #numStarInput="ngModel" pattern="[+-]?([0-9]*[.])?[0-9]+" type="number" class="form-control" id="numStar" [(ngModel)]="searchObject.numStar"  [ngModelOptions]="{standalone: true}">
            <div *ngIf="numStarInput.dirty && numStarInput.invalid">
                <small class="form-text text-danger" *ngIf="numStarInput.errors.pattern">
                    Num Star  must be number.
                </small>
            </div>
        </div>
        <button type="submit" class="btn btn-success" (click)="onSubmit()">Search</button>
   
      </form>
    <br>
    <br>
    <div class="table-responsive" *ngIf="customerRatings">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <!-- <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th> -->
            <th jhiSortBy="customerCode"><span jhiTranslate="flexbaRmsWebApp.customerRating.customerCode">Customer Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th><span>Customer name</span></th>
            <th jhiSortBy="numStar"><span jhiTranslate="flexbaRmsWebApp.customerRating.numStar">Num Star</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            
            <!-- <th jhiSortBy="source"><span jhiTranslate="flexbaRmsWebApp.customerRating.source">Source</span> <fa-icon [icon]="'sort'"></fa-icon></th> -->
            <!-- <th jhiSortBy="inventoryCode"><span jhiTranslate="flexbaRmsWebApp.customerRating.inventoryCode">Inventory Code</span> <fa-icon [icon]="'sort'"></fa-icon></th> -->
            <th><span>Store</span></th>
            <!-- <th jhiSortBy="type"><span jhiTranslate="flexbaRmsWebApp.customerRating.type">Type</span> <fa-icon [icon]="'sort'"></fa-icon></th> -->
            <th><span>Type</span></th>
            <th jhiSortBy="comment"><span jhiTranslate="flexbaRmsWebApp.customerRating.comment">Comment</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <!-- <th jhiSortBy="updatedDate"><span jhiTranslate="flexbaRmsWebApp.customerRating.updatedDate">Updated Date</span> <fa-icon [icon]="'sort'"></fa-icon></th> -->
            <th jhiSortBy="createdDate"><span jhiTranslate="flexbaRmsWebApp.customerRating.createdDate">Created Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <!-- <th jhiSortBy="deleteFlag"><span jhiTranslate="flexbaRmsWebApp.customerRating.deleteFlag">Delete Flag</span> <fa-icon [icon]="'sort'"></fa-icon></th> -->
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let customerRating of customerRatings ;trackBy: trackId">
                <!-- <td><a [routerLink]="['/customer-rating', customerRating.id, 'view' ]">{{customerRating.id}}</a></td> -->
                <td>{{customerRating.customerCode}}</td>
                <td><span *ngIf="customerRating.customer">{{customerRating.customer.fullName}}</span></td>
                <td>{{customerRating.numStar}}</td>
                <!-- <td>{{customerRating.source}}</td> -->
                <!-- <td>{{customerRating.inventoryCode}}</td> -->
                <td>{{customerRating.inventoryName}}</td>
                <!-- <td>{{customerRating.type}}</td> -->
                <td>{{customerRating.typeName}}</td>
                <td>{{customerRating.comment}}</td>
                <!-- <td>{{customerRating.updatedDate | date:'medium'}}</td> -->
                <td>{{customerRating.createdDate | date:'medium'}}</td>
                <!-- <td>{{customerRating.deleteFlag}}</td> -->
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <!-- <button type="submit"
                                [routerLink]="['/customer-rating', customerRating.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button> -->
                        <button type="submit"
                                [routerLink]="['/customer-rating', customerRating.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <!-- <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'customer-rating/'+ customerRating.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button> -->
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="customerRatings && customerRatings.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
