<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="customerRating">
            <h2><span jhiTranslate="flexbaRmsWebApp.customerRating.detail.title">Customer Rating</span> {{customerRating.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="flexbaRmsWebApp.customerRating.numStar">Num Star</span></dt>
                <dd>
                    <span>{{customerRating.numStar}}</span>
                </dd>
                <dt><span jhiTranslate="flexbaRmsWebApp.customerRating.customerCode">Customer Code</span></dt>
                <dd>
                    <span>{{customerRating.customerCode}}</span>
                </dd>
                <dt><span jhiTranslate="flexbaRmsWebApp.customerRating.source">Source</span></dt>
                <dd>
                    <span>{{customerRating.source}}</span>
                </dd>
                <dt><span jhiTranslate="flexbaRmsWebApp.customerRating.inventoryCode">Inventory Code</span></dt>
                <dd>
                    <span>{{customerRating.inventoryCode}}</span>
                </dd>
                <dt><span >Inventory Name</span></dt>
                <dd>
                    <span>{{customerRating.inventoryName}}</span>
                </dd>
                <dt><span jhiTranslate="flexbaRmsWebApp.customerRating.type">Type</span></dt>
                <dd>
                    <span>{{customerRating.type}}</span>
                </dd>
                <dt><span>Type Name</span></dt>
                <dd>
                    <span>{{customerRating.typeName}}</span>
                </dd>
                <dt><span jhiTranslate="flexbaRmsWebApp.customerRating.comment">Comment</span></dt>
                <dd>
                    <span>{{customerRating.comment}}</span>
                </dd>
                <dt><span jhiTranslate="flexbaRmsWebApp.customerRating.updatedDate">Updated Date</span></dt>
                <dd>
                    <span>{{customerRating.updatedDate}}</span>
                </dd>
                <dt><span jhiTranslate="flexbaRmsWebApp.customerRating.createdDate">Created Date</span></dt>
                <dd>
                    <span>{{customerRating.createdDate}}</span>
                </dd>
                <dt><span jhiTranslate="flexbaRmsWebApp.customerRating.deleteFlag">Delete Flag</span></dt>
                <dd>
                    <span>{{customerRating.deleteFlag}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/customer-rating', customerRating.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
