<div class="row justify-content-center">
    <div class="col-8">
        <form class="promotion-form" name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-promotion-heading">Please select QRCode type and enter infor to generate QRCode</h2>
            <br>
            <div class="form-group">
                <label class="form-control-label" for="field_qrCodeType">QRCode type
                </label>
                <div>
                    <input #qrCodeTypeInput="ngModel" required type="text" class="form-control" name="qrCodeType" id="field_qrCodeType" [(ngModel)]="qrCodeTypeCode"
                    />
                    <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
                        <button type="button" class="btn btn-outline-danger" ngbDropdownToggle>{{qrCodeTypeName}}</button>
                        <div class="dropdown-menu" ngbDropdownMenu>
                            <button (click)="selectQRCodeType(qrCodeType.name)" *ngFor="let qrCodeType of qrCodeTypes; index as i; first as isFirst"
                                type="button" class="dropdown-item">{{qrCodeType.name}}</button>
                        </div>
                    </div>
                    <div *ngIf="qrCodeTypeInput.dirty && qrCodeTypeInput.invalid">
                        <small class="form-text text-danger" *ngIf="qrCodeTypeInput.errors.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div>
                </div>
            </div>
            <jhi-alert-error></jhi-alert-error>
            <br>
            <json-editor [options]="editorOptions" [data]="plainTextObject"></json-editor>
            <br>
            <div>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Generate</span>
                </button>
            </div>
            <br>
            <qrcode *ngIf="text" [qrdata]="text" [size]="256" [level]="'M'"></qrcode>
        </form>
    </div>
</div>