.main-account {
    background-color: green;
}

.removed-account {
    background-color: green;
}

.ag-overlay-no-rows-center {
    display: none !important;
}
#field_qrCodeType {
    width: 1px;
    display: inline;
    padding-top: 3px;
    padding-right: 0px;
    padding-left: 0px;
}