<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-inventory-heading" jhiTranslate="flexbaRmsWebApp.inventory.home.createOrEditLabel">Create or edit a Inventory</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!inventory.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="inventory.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="flexbaRmsWebApp.inventory.inventoryCode" for="field_inventoryCode">Inventory Code</label>
                    <input type="text" class="form-control" name="inventoryCode" id="field_inventoryCode"
                        [(ngModel)]="inventory.inventoryCode" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="flexbaRmsWebApp.inventory.inventoryName" for="field_inventoryName">Inventory Name</label>
                    <input type="text" class="form-control" name="inventoryName" id="field_inventoryName"
                        [(ngModel)]="inventory.inventoryName" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="flexbaRmsWebApp.inventory.regionCode" for="field_regionCode">Region Code</label>
                    <input type="text" class="form-control" name="regionCode" id="field_regionCode"
                        [(ngModel)]="inventory.regionCode" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="flexbaRmsWebApp.inventory.inventoryType" for="field_inventoryType">Inventory Type</label>
                    <input type="number" class="form-control" name="inventoryType" id="field_inventoryType"
                        [(ngModel)]="inventory.inventoryType" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="flexbaRmsWebApp.inventory.brandCode" for="field_brandCode">Brand Code</label>
                    <input type="text" class="form-control" name="brandCode" id="field_brandCode"
                        [(ngModel)]="inventory.brandCode" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="flexbaRmsWebApp.inventory.address" for="field_address">Address</label>
                    <input type="text" class="form-control" name="address" id="field_address"
                        [(ngModel)]="inventory.address" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="flexbaRmsWebApp.inventory.tel" for="field_tel">Tel</label>
                    <input type="text" class="form-control" name="tel" id="field_tel"
                        [(ngModel)]="inventory.tel" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="flexbaRmsWebApp.inventory.fax" for="field_fax">Fax</label>
                    <input type="text" class="form-control" name="fax" id="field_fax"
                        [(ngModel)]="inventory.fax" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="flexbaRmsWebApp.inventory.email" for="field_email">Email</label>
                    <input type="text" class="form-control" name="email" id="field_email"
                        [(ngModel)]="inventory.email" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="flexbaRmsWebApp.inventory.status" for="field_status">Status</label>
                    <input type="number" class="form-control" name="status" id="field_status"
                        [(ngModel)]="inventory.status" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="flexbaRmsWebApp.inventory.channel" for="field_channel">Channel</label>
                    <input type="text" class="form-control" name="channel" id="field_channel"
                        [(ngModel)]="inventory.channel" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="flexbaRmsWebApp.inventory.allowPickupFlag" for="field_allowPickupFlag">Allow Pickup Flag</label>
                    <input type="checkbox" class="form-control" name="allowPickupFlag" id="field_allowPickupFlag"
                        [(ngModel)]="inventory.allowPickupFlag" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="flexbaRmsWebApp.inventory.allowUrgentOrderFlag" for="field_allowUrgentOrderFlag">Allow Urgent Order Flag</label>
                    <input type="checkbox" class="form-control" name="allowUrgentOrderFlag" id="field_allowUrgentOrderFlag"
                        [(ngModel)]="inventory.allowUrgentOrderFlag" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="flexbaRmsWebApp.inventory.allowBookStudioFlag" for="field_allowBookStudioFlag">Allow Book Studio Flag</label>
                    <input type="checkbox" class="form-control" name="allowBookStudioFlag" id="field_allowBookStudioFlag"
                        [(ngModel)]="inventory.allowBookStudioFlag" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="flexbaRmsWebApp.inventory.updateDate" for="field_updateDate">Update Date</label>
                    <div class="d-flex">
                        <input id="field_updateDate" type="datetime-local" class="form-control" name="updateDate" [(ngModel)]="updateDate"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="flexbaRmsWebApp.inventory.deleteFlag" for="field_deleteFlag">Delete Flag</label>
                    <input type="checkbox" class="form-control" name="deleteFlag" id="field_deleteFlag"
                        [(ngModel)]="inventory.deleteFlag" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="flexbaRmsWebApp.inventory.latitude" for="field_latitude">Latitude</label>
                    <input type="text" class="form-control" name="latitude" id="field_latitude"
                        [(ngModel)]="inventory.latitude" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="flexbaRmsWebApp.inventory.longitude" for="field_longitude">Longitude</label>
                    <input type="text" class="form-control" name="longitude" id="field_longitude"
                        [(ngModel)]="inventory.longitude" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
