<div>
    <h2 id="page-heading">
        <span jhiTranslate="flexbaRmsWebApp.inventory.home.title">Inventories</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-inventory" [routerLink]="['/inventory/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="flexbaRmsWebApp.inventory.home.createLabel">
            Create new Inventory
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="inventories">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="inventoryCode"><span jhiTranslate="flexbaRmsWebApp.inventory.inventoryCode">Inventory Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="inventoryName"><span jhiTranslate="flexbaRmsWebApp.inventory.inventoryName">Inventory Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="regionCode"><span jhiTranslate="flexbaRmsWebApp.inventory.regionCode">Region Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="inventoryType"><span jhiTranslate="flexbaRmsWebApp.inventory.inventoryType">Inventory Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="brandCode"><span jhiTranslate="flexbaRmsWebApp.inventory.brandCode">Brand Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="address"><span jhiTranslate="flexbaRmsWebApp.inventory.address">Address</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="tel"><span jhiTranslate="flexbaRmsWebApp.inventory.tel">Tel</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fax"><span jhiTranslate="flexbaRmsWebApp.inventory.fax">Fax</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="email"><span jhiTranslate="flexbaRmsWebApp.inventory.email">Email</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="status"><span jhiTranslate="flexbaRmsWebApp.inventory.status">Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="channel"><span jhiTranslate="flexbaRmsWebApp.inventory.channel">Channel</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="allowPickupFlag"><span jhiTranslate="flexbaRmsWebApp.inventory.allowPickupFlag">Allow Pickup Flag</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="allowUrgentOrderFlag"><span jhiTranslate="flexbaRmsWebApp.inventory.allowUrgentOrderFlag">Allow Urgent Order Flag</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="allowBookStudioFlag"><span jhiTranslate="flexbaRmsWebApp.inventory.allowBookStudioFlag">Allow Book Studio Flag</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="updateDate"><span jhiTranslate="flexbaRmsWebApp.inventory.updateDate">Update Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="deleteFlag"><span jhiTranslate="flexbaRmsWebApp.inventory.deleteFlag">Delete Flag</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="latitude"><span jhiTranslate="flexbaRmsWebApp.inventory.latitude">Latitude</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="longitude"><span jhiTranslate="flexbaRmsWebApp.inventory.longitude">Longitude</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let inventory of inventories ;trackBy: trackId">
                <td><a [routerLink]="['/inventory', inventory.id, 'view' ]">{{inventory.id}}</a></td>
                <td>{{inventory.inventoryCode}}</td>
                <td>{{inventory.inventoryName}}</td>
                <td>{{inventory.regionCode}}</td>
                <td>{{inventory.inventoryType}}</td>
                <td>{{inventory.brandCode}}</td>
                <td>{{inventory.address}}</td>
                <td>{{inventory.tel}}</td>
                <td>{{inventory.fax}}</td>
                <td>{{inventory.email}}</td>
                <td>{{inventory.status}}</td>
                <td>{{inventory.channel}}</td>
                <td>{{inventory.allowPickupFlag}}</td>
                <td>{{inventory.allowUrgentOrderFlag}}</td>
                <td>{{inventory.allowBookStudioFlag}}</td>
                <td>{{inventory.updateDate | date:'medium'}}</td>
                <td>{{inventory.deleteFlag}}</td>
                <td>{{inventory.latitude}}</td>
                <td>{{inventory.longitude}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/inventory', inventory.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/inventory', inventory.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'inventory/'+ inventory.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="inventories && inventories.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
