<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="inventory">
            <h2><span jhiTranslate="flexbaRmsWebApp.inventory.detail.title">Inventory</span> {{inventory.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="flexbaRmsWebApp.inventory.inventoryCode">Inventory Code</span></dt>
                <dd>
                    <span>{{inventory.inventoryCode}}</span>
                </dd>
                <dt><span jhiTranslate="flexbaRmsWebApp.inventory.inventoryName">Inventory Name</span></dt>
                <dd>
                    <span>{{inventory.inventoryName}}</span>
                </dd>
                <dt><span jhiTranslate="flexbaRmsWebApp.inventory.regionCode">Region Code</span></dt>
                <dd>
                    <span>{{inventory.regionCode}}</span>
                </dd>
                <dt><span jhiTranslate="flexbaRmsWebApp.inventory.inventoryType">Inventory Type</span></dt>
                <dd>
                    <span>{{inventory.inventoryType}}</span>
                </dd>
                <dt><span jhiTranslate="flexbaRmsWebApp.inventory.brandCode">Brand Code</span></dt>
                <dd>
                    <span>{{inventory.brandCode}}</span>
                </dd>
                <dt><span jhiTranslate="flexbaRmsWebApp.inventory.address">Address</span></dt>
                <dd>
                    <span>{{inventory.address}}</span>
                </dd>
                <dt><span jhiTranslate="flexbaRmsWebApp.inventory.tel">Tel</span></dt>
                <dd>
                    <span>{{inventory.tel}}</span>
                </dd>
                <dt><span jhiTranslate="flexbaRmsWebApp.inventory.fax">Fax</span></dt>
                <dd>
                    <span>{{inventory.fax}}</span>
                </dd>
                <dt><span jhiTranslate="flexbaRmsWebApp.inventory.email">Email</span></dt>
                <dd>
                    <span>{{inventory.email}}</span>
                </dd>
                <dt><span jhiTranslate="flexbaRmsWebApp.inventory.status">Status</span></dt>
                <dd>
                    <span>{{inventory.status}}</span>
                </dd>
                <dt><span jhiTranslate="flexbaRmsWebApp.inventory.channel">Channel</span></dt>
                <dd>
                    <span>{{inventory.channel}}</span>
                </dd>
                <dt><span jhiTranslate="flexbaRmsWebApp.inventory.allowPickupFlag">Allow Pickup Flag</span></dt>
                <dd>
                    <span>{{inventory.allowPickupFlag}}</span>
                </dd>
                <dt><span jhiTranslate="flexbaRmsWebApp.inventory.allowUrgentOrderFlag">Allow Urgent Order Flag</span></dt>
                <dd>
                    <span>{{inventory.allowUrgentOrderFlag}}</span>
                </dd>
                <dt><span jhiTranslate="flexbaRmsWebApp.inventory.allowBookStudioFlag">Allow Book Studio Flag</span></dt>
                <dd>
                    <span>{{inventory.allowBookStudioFlag}}</span>
                </dd>
                <dt><span jhiTranslate="flexbaRmsWebApp.inventory.updateDate">Update Date</span></dt>
                <dd>
                    <span>{{inventory.updateDate}}</span>
                </dd>
                <dt><span jhiTranslate="flexbaRmsWebApp.inventory.deleteFlag">Delete Flag</span></dt>
                <dd>
                    <span>{{inventory.deleteFlag}}</span>
                </dd>
                <dt><span jhiTranslate="flexbaRmsWebApp.inventory.latitude">Latitude</span></dt>
                <dd>
                    <span>{{inventory.latitude}}</span>
                </dd>
                <dt><span jhiTranslate="flexbaRmsWebApp.inventory.longitude">Longitude</span></dt>
                <dd>
                    <span>{{inventory.longitude}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/inventory', inventory.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
